In [201]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [202]:
#Bring in Sports Data
mlbURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/MLB.csv"
nbaURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/NBA.csv"
nflURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/NFL.csv"
MLBraw=pd.read_csv(mlbURL, engine='python', error_bad_lines=False)
MLB=pd.DataFrame(MLBraw)
NBAraw=pd.read_csv(nbaURL, engine='python', error_bad_lines=False)
NBA=pd.DataFrame(NBAraw)
NFLraw=pd.read_csv(nflURL, engine='python', error_bad_lines=False)
NFL=pd.DataFrame(NFLraw)
print(MLB)
print(NBA)
print(NFL)

     Day of Week Month  Day  Year  Time D/N HomeTeam  Attendance
0        Tuesday   Apr   11  2017  2:54   N      MIA       36519
1      Wednesday   Apr   12  2017  2:51   N      MIA       16808
2         Friday   Apr   14  2017  2:57   N      ATL       41149
3       Saturday   Apr   15  2017  2:20   N      ATL       41149
4         Sunday   Apr   16  2017  2:46   D      ATL       37147
...          ...   ...  ...   ...   ...  ..      ...         ...
1091   Wednesday   Sep   11  2019  3:02   N      MIA        7815
1092    Thursday   Sep   12  2019  2:59   D      MIA        7375
1093      Friday   Sep   20  2019  3:13   N      MIA       12775
1094    Saturday   Sep   21  2019  4:20   N      MIA       18085
1095      Sunday   Sep   22  2019  3:13   D      MIA       19709

[1096 rows x 8 columns]
    Day of Week Month  Day  Year Start (ET)          HomeTeam  Attend.
0           Sun   Jan    1  2017      6:00p     Atlanta Hawks    18088
1           Sun   Jan    1  2017      6:00p        Miami Heat    19844
2           Mon   Jan    2  2017      8:00p   Houston Rockets    16569
3           Tue   Jan    3  2017      8:30p  Dallas Mavericks    19318
4           Thu   Jan    5  2017      8:00p   Houston Rockets    18055
..          ...   ...  ...   ...        ...               ...      ...
513         Fri   Dec   27  2019      7:30p     Atlanta Hawks    17358
514         Fri   Dec   27  2019      8:00p        Miami Heat    19767
515         Sat   Dec   28  2019      8:00p   Houston Rockets    18306
516         Sat   Dec   28  2019      8:00p        Miami Heat    19865
517         Tue   Dec   31  2019      7:00p   Houston Rockets    18055

[518 rows x 7 columns]
                            Date    Time  Year         HomeTeam  Attendance
0   Thursday, September 10, 2017  1:00PM  2017   Houston Texans       71710
1   Thursday, September 10, 2017  8:30PM  2017   Dallas Cowboys       93183
2   Thursday, September 17, 2017  8:30PM  2017  Atlanta Falcons       70826
3      Thursday, October 1, 2017  9:30AM  2017   Miami Dolphins       84423
4      Thursday, October 1, 2017  1:00PM  2017   Houston Texans       71804
..                           ...     ...   ...              ...         ...
91    Tuesday, December 15, 2019  4:25PM  2019   Dallas Cowboys       90436
92    Tuesday, December 22, 2019  1:00PM  2019  Atlanta Falcons       70873
93    Tuesday, December 22, 2019  1:00PM  2019   Miami Dolphins       60968
94    Tuesday, December 29, 2019  4:25PM  2019   Houston Texans       71794
95    Tuesday, December 29, 2019  4:25PM  2019   Dallas Cowboys       90646

[96 rows x 5 columns]

In [203]:
#Add City, State to MLB, NBA, NFL data
MLB['City']='Atlanta'
MLB['State']='GA'
NBA['City']='Atlanta'
NBA['State']='GA'
NFL['City']='Atlanta'
NFL['State']='GA'
print(MLB)
print(NBA)
print(NFL)

     Day of Week Month  Day  Year  Time D/N HomeTeam  Attendance     City  \
0        Tuesday   Apr   11  2017  2:54   N      MIA       36519  Atlanta
1      Wednesday   Apr   12  2017  2:51   N      MIA       16808  Atlanta
2         Friday   Apr   14  2017  2:57   N      ATL       41149  Atlanta
3       Saturday   Apr   15  2017  2:20   N      ATL       41149  Atlanta
4         Sunday   Apr   16  2017  2:46   D      ATL       37147  Atlanta
...          ...   ...  ...   ...   ...  ..      ...         ...      ...
1091   Wednesday   Sep   11  2019  3:02   N      MIA        7815  Atlanta
1092    Thursday   Sep   12  2019  2:59   D      MIA        7375  Atlanta
1093      Friday   Sep   20  2019  3:13   N      MIA       12775  Atlanta
1094    Saturday   Sep   21  2019  4:20   N      MIA       18085  Atlanta
1095      Sunday   Sep   22  2019  3:13   D      MIA       19709  Atlanta

     State
0       GA
1       GA
2       GA
3       GA
4       GA
...    ...
1091    GA
1092    GA
1093    GA
1094    GA
1095    GA

[1096 rows x 10 columns]
    Day of Week Month  Day  Year Start (ET)          HomeTeam  Attend.  \
0           Sun   Jan    1  2017      6:00p     Atlanta Hawks    18088
1           Sun   Jan    1  2017      6:00p        Miami Heat    19844
2           Mon   Jan    2  2017      8:00p   Houston Rockets    16569
3           Tue   Jan    3  2017      8:30p  Dallas Mavericks    19318
4           Thu   Jan    5  2017      8:00p   Houston Rockets    18055
..          ...   ...  ...   ...        ...               ...      ...
513         Fri   Dec   27  2019      7:30p     Atlanta Hawks    17358
514         Fri   Dec   27  2019      8:00p        Miami Heat    19767
515         Sat   Dec   28  2019      8:00p   Houston Rockets    18306
516         Sat   Dec   28  2019      8:00p        Miami Heat    19865
517         Tue   Dec   31  2019      7:00p   Houston Rockets    18055

        City State
0    Atlanta    GA
1    Atlanta    GA
2    Atlanta    GA
3    Atlanta    GA
4    Atlanta    GA
..       ...   ...
513  Atlanta    GA
514  Atlanta    GA
515  Atlanta    GA
516  Atlanta    GA
517  Atlanta    GA

[518 rows x 9 columns]
                            Date    Time  Year         HomeTeam  Attendance  \
0   Thursday, September 10, 2017  1:00PM  2017   Houston Texans       71710
1   Thursday, September 10, 2017  8:30PM  2017   Dallas Cowboys       93183
2   Thursday, September 17, 2017  8:30PM  2017  Atlanta Falcons       70826
3      Thursday, October 1, 2017  9:30AM  2017   Miami Dolphins       84423
4      Thursday, October 1, 2017  1:00PM  2017   Houston Texans       71804
..                           ...     ...   ...              ...         ...
91    Tuesday, December 15, 2019  4:25PM  2019   Dallas Cowboys       90436
92    Tuesday, December 22, 2019  1:00PM  2019  Atlanta Falcons       70873
93    Tuesday, December 22, 2019  1:00PM  2019   Miami Dolphins       60968
94    Tuesday, December 29, 2019  4:25PM  2019   Houston Texans       71794
95    Tuesday, December 29, 2019  4:25PM  2019   Dallas Cowboys       90646

       City State
0   Atlanta    GA
1   Atlanta    GA
2   Atlanta    GA
3   Atlanta    GA
4   Atlanta    GA
..      ...   ...
91  Atlanta    GA
92  Atlanta    GA
93  Atlanta    GA
94  Atlanta    GA
95  Atlanta    GA

[96 rows x 7 columns]

In [204]:
#Replace City/State with correct value
MLB.loc[MLB['HomeTeam']=='MIA', ['City']] = 'Miami'
MLB.loc[MLB['HomeTeam']=='MIA', ['State']] = 'FL'
MLB.loc[MLB['HomeTeam']=='TEX', ['City']] = 'Dallas'
MLB.loc[MLB['HomeTeam']=='TEX', ['State']] = 'TX'
MLB.loc[MLB['HomeTeam']=='HOU', ['City']] = 'Houston'
MLB.loc[MLB['HomeTeam']=='HOU', ['State']] = 'TX'
NBA.loc[NBA['HomeTeam']=='Miami Heat', ['City']] = 'Miami'
NBA.loc[NBA['HomeTeam']=='Miami Heat', ['State']] = 'FL'
NBA.loc[NBA['HomeTeam']=='Dallas Mavericks', ['City']] = 'Dallas'
NBA.loc[NBA['HomeTeam']=='Dallas Mavericks', ['State']] = 'TX'
NBA.loc[NBA['HomeTeam']=='Houston Rockets', ['City']] = 'Houston'
NBA.loc[NBA['HomeTeam']=='Houston Rockets', ['State']] = 'TX'
NFL.loc[NFL['HomeTeam']=='Miami Dolphins', ['City']] = 'Miami'
NFL.loc[NFL['HomeTeam']=='Miami Dolphins', ['State']] = 'FL'
NFL.loc[NFL['HomeTeam']=='Dallas Cowboys', ['City']] = 'Dallas'
NFL.loc[NFL['HomeTeam']=='Dallas Cowboys', ['State']] = 'TX'
NFL.loc[NFL['HomeTeam']=='Houston Texans', ['City']] = 'Houston'
NFL.loc[NFL['HomeTeam']=='Houston Texans', ['State']] = 'TX'

In [205]:
pd.options.display.max_columns=10
pd.options.display.max_rows=10
display(MLB)
display(NBA)
display(NFL)

,Day of Week,Month,Day,Year,Time,D/N,HomeTeam,Attendance,City,State
0,Tuesday,Apr,11,2017,2:54,N,MIA,36519,Miami,FL
1,Wednesday,Apr,12,2017,2:51,N,MIA,16808,Miami,FL
2,Friday,Apr,14,2017,2:57,N,ATL,41149,Atlanta,GA
3,Saturday,Apr,15,2017,2:20,N,ATL,41149,Atlanta,GA
4,Sunday,Apr,16,2017,2:46,D,ATL,37147,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...
1091,Wednesday,Sep,11,2019,3:02,N,MIA,7815,Miami,FL
1092,Thursday,Sep,12,2019,2:59,D,MIA,7375,Miami,FL
1093,Friday,Sep,20,2019,3:13,N,MIA,12775,Miami,FL
1094,Saturday,Sep,21,2019,4:20,N,MIA,18085,Miami,FL
1095,Sunday,Sep,22,2019,3:13,D,MIA,19709,Miami,FL

,Day of Week,Month,Day,Year,Start (ET),HomeTeam,Attend.,City,State
0,Sun,Jan,1,2017,6:00p,Atlanta Hawks,18088,Atlanta,GA
1,Sun,Jan,1,2017,6:00p,Miami Heat,19844,Miami,FL
2,Mon,Jan,2,2017,8:00p,Houston Rockets,16569,Houston,TX
3,Tue,Jan,3,2017,8:30p,Dallas Mavericks,19318,Dallas,TX
4,Thu,Jan,5,2017,8:00p,Houston Rockets,18055,Houston,TX
...,...,...,...,...,...,...,...,...,...
513,Fri,Dec,27,2019,7:30p,Atlanta Hawks,17358,Atlanta,GA
514,Fri,Dec,27,2019,8:00p,Miami Heat,19767,Miami,FL
515,Sat,Dec,28,2019,8:00p,Houston Rockets,18306,Houston,TX
516,Sat,Dec,28,2019,8:00p,Miami Heat,19865,Miami,FL
517,Tue,Dec,31,2019,7:00p,Houston Rockets,18055,Houston,TX

,Date,Time,Year,HomeTeam,Attendance,City,State
0,"Thursday, September 10, 2017",1:00PM,2017,Houston Texans,71710,Houston,TX
1,"Thursday, September 10, 2017",8:30PM,2017,Dallas Cowboys,93183,Dallas,TX
2,"Thursday, September 17, 2017",8:30PM,2017,Atlanta Falcons,70826,Atlanta,GA
3,"Thursday, October 1, 2017",9:30AM,2017,Miami Dolphins,84423,Miami,FL
4,"Thursday, October 1, 2017",1:00PM,2017,Houston Texans,71804,Houston,TX
...,...,...,...,...,...,...,...
91,"Tuesday, December 15, 2019",4:25PM,2019,Dallas Cowboys,90436,Dallas,TX
92,"Tuesday, December 22, 2019",1:00PM,2019,Atlanta Falcons,70873,Atlanta,GA
93,"Tuesday, December 22, 2019",1:00PM,2019,Miami Dolphins,60968,Miami,FL
94,"Tuesday, December 29, 2019",4:25PM,2019,Houston Texans,71794,Houston,TX
95,"Tuesday, December 29, 2019",4:25PM,2019,Dallas Cowboys,90646,Dallas,TX

In [206]:
#Convert HomeTeam to Sporting Event Type, rename other columns if needed
MLB.rename(columns={"HomeTeam":"MLBGame", "Attendance":"MLB_Attendance"},inplace=True)
NBA.rename(columns={"HomeTeam":"NBAGame","Attend.":"NBA_Attendance", "Start (ET)":"Time"},inplace=True)
NFL.rename(columns={"HomeTeam":"NFLGame","Attendance":"NFL_Attendance"},inplace=True)

In [207]:
#Set Sporting Event Type binary value
MLB['MLBGame']=1
NBA['NBAGame']=1
NFL['NFLGame']=1

In [208]:
display(MLB)
display(NBA)
display(NFL)

,Day of Week,Month,Day,Year,Time,D/N,MLBGame,MLB_Attendance,City,State
0,Tuesday,Apr,11,2017,2:54,N,1,36519,Miami,FL
1,Wednesday,Apr,12,2017,2:51,N,1,16808,Miami,FL
2,Friday,Apr,14,2017,2:57,N,1,41149,Atlanta,GA
3,Saturday,Apr,15,2017,2:20,N,1,41149,Atlanta,GA
4,Sunday,Apr,16,2017,2:46,D,1,37147,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...
1091,Wednesday,Sep,11,2019,3:02,N,1,7815,Miami,FL
1092,Thursday,Sep,12,2019,2:59,D,1,7375,Miami,FL
1093,Friday,Sep,20,2019,3:13,N,1,12775,Miami,FL
1094,Saturday,Sep,21,2019,4:20,N,1,18085,Miami,FL
1095,Sunday,Sep,22,2019,3:13,D,1,19709,Miami,FL

,Day of Week,Month,Day,Year,Time,NBAGame,NBA_Attendance,City,State
0,Sun,Jan,1,2017,6:00p,1,18088,Atlanta,GA
1,Sun,Jan,1,2017,6:00p,1,19844,Miami,FL
2,Mon,Jan,2,2017,8:00p,1,16569,Houston,TX
3,Tue,Jan,3,2017,8:30p,1,19318,Dallas,TX
4,Thu,Jan,5,2017,8:00p,1,18055,Houston,TX
...,...,...,...,...,...,...,...,...,...
513,Fri,Dec,27,2019,7:30p,1,17358,Atlanta,GA
514,Fri,Dec,27,2019,8:00p,1,19767,Miami,FL
515,Sat,Dec,28,2019,8:00p,1,18306,Houston,TX
516,Sat,Dec,28,2019,8:00p,1,19865,Miami,FL
517,Tue,Dec,31,2019,7:00p,1,18055,Houston,TX

,Date,Time,Year,NFLGame,NFL_Attendance,City,State
0,"Thursday, September 10, 2017",1:00PM,2017,1,71710,Houston,TX
1,"Thursday, September 10, 2017",8:30PM,2017,1,93183,Dallas,TX
2,"Thursday, September 17, 2017",8:30PM,2017,1,70826,Atlanta,GA
3,"Thursday, October 1, 2017",9:30AM,2017,1,84423,Miami,FL
4,"Thursday, October 1, 2017",1:00PM,2017,1,71804,Houston,TX
...,...,...,...,...,...,...,...
91,"Tuesday, December 15, 2019",4:25PM,2019,1,90436,Dallas,TX
92,"Tuesday, December 22, 2019",1:00PM,2019,1,70873,Atlanta,GA
93,"Tuesday, December 22, 2019",1:00PM,2019,1,60968,Miami,FL
94,"Tuesday, December 29, 2019",4:25PM,2019,1,71794,Houston,TX
95,"Tuesday, December 29, 2019",4:25PM,2019,1,90646,Dallas,TX

In [209]:
#Format MLB Dates
MonthMap={'Jan':'01','Feb':'02', 'Mar':'03','Apr':'04','May':'05'
         ,'Jun':'06','Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'}
MLB['Month']=MLB['Month'].apply(lambda x: MonthMap[x])
MLB['Date']=pd.to_datetime((MLB['Month'].astype(str)+' '+MLB['Day'].astype(str)+' '+MLB['Year'].astype(str)), format='%m %d %Y')
MLB['Day of Week']=MLB['Date'].dt.day_name()
#Drop Unneeded MLB Date columns
MLB=MLB.drop(columns=['Month','Day','Year','D/N','Time'])
display(MLB)

     Day of Week  MLBGame  MLB_Attendance     City State       Date
0        Tuesday        1           36519    Miami    FL 2017-04-11
1      Wednesday        1           16808    Miami    FL 2017-04-12
2         Friday        1           41149  Atlanta    GA 2017-04-14
3       Saturday        1           41149  Atlanta    GA 2017-04-15
4         Sunday        1           37147  Atlanta    GA 2017-04-16
...          ...      ...             ...      ...   ...        ...
1091   Wednesday        1            7815    Miami    FL 2019-09-11
1092    Thursday        1            7375    Miami    FL 2019-09-12
1093      Friday        1           12775    Miami    FL 2019-09-20
1094    Saturday        1           18085    Miami    FL 2019-09-21
1095      Sunday        1           19709    Miami    FL 2019-09-22

[1096 rows x 6 columns]

In [210]:
#Format NBA Dates
NBA['Month']=NBA['Month'].apply(lambda x: MonthMap[x])
NBA['Date']=pd.to_datetime((NBA['Month'].astype(str)+' '+NBA['Day'].astype(str)+' '+NBA['Year'].astype(str)), format='%m %d %Y')
NBA['Day of Week']=NBA['Date'].dt.day_name()
#Drop Unneeded NBA Date columns
NBA=NBA.drop(columns=['Month','Day','Year','Time'])
display(NBA)

    Day of Week  NBAGame  NBA_Attendance     City State       Date
0        Sunday        1           18088  Atlanta    GA 2017-01-01
1        Sunday        1           19844    Miami    FL 2017-01-01
2        Monday        1           16569  Houston    TX 2017-01-02
3       Tuesday        1           19318   Dallas    TX 2017-01-03
4      Thursday        1           18055  Houston    TX 2017-01-05
..          ...      ...             ...      ...   ...        ...
513      Friday        1           17358  Atlanta    GA 2019-12-27
514      Friday        1           19767    Miami    FL 2019-12-27
515    Saturday        1           18306  Houston    TX 2019-12-28
516    Saturday        1           19865    Miami    FL 2019-12-28
517     Tuesday        1           18055  Houston    TX 2019-12-31

[518 rows x 6 columns]

In [211]:
#Format NFL Dates
NFL['Date']=pd.to_datetime(NFL['Date'],format='%A, %B %d, %Y')
NFL['Day of Week']=NFL['Date'].dt.day_name()
#Drop Unneeded NFL Date columns
NFL=NFL.drop(columns=['Year','Time'])
display(NFL)

         Date  NFLGame  NFL_Attendance     City State Day of Week
0  2017-09-10        1           71710  Houston    TX      Sunday
1  2017-09-10        1           93183   Dallas    TX      Sunday
2  2017-09-17        1           70826  Atlanta    GA      Sunday
3  2017-10-01        1           84423    Miami    FL      Sunday
4  2017-10-01        1           71804  Houston    TX      Sunday
..        ...      ...             ...      ...   ...         ...
91 2019-12-15        1           90436   Dallas    TX      Sunday
92 2019-12-22        1           70873  Atlanta    GA      Sunday
93 2019-12-22        1           60968    Miami    FL      Sunday
94 2019-12-29        1           71794  Houston    TX      Sunday
95 2019-12-29        1           90646   Dallas    TX      Sunday

[96 rows x 6 columns]

In [222]:
#Join Sports Data sets
MLB['JoinID']=MLB['Date'].astype(str)+MLB['City'].astype(str)+MLB['State'].astype(str)
NBA['JoinID']=NBA['Date'].astype(str)+NBA['City'].astype(str)+NBA['State'].astype(str)
NFL['JoinID']=NFL['Date'].astype(str)+NFL['City'].astype(str)+NFL['State'].astype(str)
Sports=pd.DataFrame(pd.concat([MLB,NBA,NFL], axis=0, join='outer', ignore_index=False, keys='JoinID',
          levels=None, names=None, verify_integrity=False, copy=True, sort=True))

In [223]:
display(Sports)

         City       Date Day of Week               JoinID  MLBGame  \
J 0     Miami 2017-04-11     Tuesday    2017-04-11MiamiFL      1.0
  1     Miami 2017-04-12   Wednesday    2017-04-12MiamiFL      1.0
  2   Atlanta 2017-04-14      Friday  2017-04-14AtlantaGA      1.0
  3   Atlanta 2017-04-15    Saturday  2017-04-15AtlantaGA      1.0
  4   Atlanta 2017-04-16      Sunday  2017-04-16AtlantaGA      1.0
...       ...        ...         ...                  ...      ...
i 91   Dallas 2019-12-15      Sunday   2019-12-15DallasTX      NaN
  92  Atlanta 2019-12-22      Sunday  2019-12-22AtlantaGA      NaN
  93    Miami 2019-12-22      Sunday    2019-12-22MiamiFL      NaN
  94  Houston 2019-12-29      Sunday  2019-12-29HoustonTX      NaN
  95   Dallas 2019-12-29      Sunday   2019-12-29DallasTX      NaN

      MLB_Attendance  NBAGame  NBA_Attendance  NFLGame  NFL_Attendance State
J 0          36519.0      NaN             NaN      NaN             NaN    FL
  1          16808.0      NaN             NaN      NaN             NaN    FL
  2          41149.0      NaN             NaN      NaN             NaN    GA
  3          41149.0      NaN             NaN      NaN             NaN    GA
  4          37147.0      NaN             NaN      NaN             NaN    GA
...              ...      ...             ...      ...             ...   ...
i 91             NaN      NaN             NaN      1.0         90436.0    TX
  92             NaN      NaN             NaN      1.0         70873.0    GA
  93             NaN      NaN             NaN      1.0         60968.0    FL
  94             NaN      NaN             NaN      1.0         71794.0    TX
  95             NaN      NaN             NaN      1.0         90646.0    TX

[1710 rows x 11 columns]

In [226]:
#Replace NAs with zeroes
Sports.fillna(0,inplace=True)
display(Sports)

         City       Date Day of Week               JoinID  MLBGame  \
J 0     Miami 2017-04-11     Tuesday    2017-04-11MiamiFL      1.0
  1     Miami 2017-04-12   Wednesday    2017-04-12MiamiFL      1.0
  2   Atlanta 2017-04-14      Friday  2017-04-14AtlantaGA      1.0
  3   Atlanta 2017-04-15    Saturday  2017-04-15AtlantaGA      1.0
  4   Atlanta 2017-04-16      Sunday  2017-04-16AtlantaGA      1.0
...       ...        ...         ...                  ...      ...
i 91   Dallas 2019-12-15      Sunday   2019-12-15DallasTX      0.0
  92  Atlanta 2019-12-22      Sunday  2019-12-22AtlantaGA      0.0
  93    Miami 2019-12-22      Sunday    2019-12-22MiamiFL      0.0
  94  Houston 2019-12-29      Sunday  2019-12-29HoustonTX      0.0
  95   Dallas 2019-12-29      Sunday   2019-12-29DallasTX      0.0

      MLB_Attendance  NBAGame  NBA_Attendance  NFLGame  NFL_Attendance State
J 0          36519.0      0.0             0.0      0.0             0.0    FL
  1          16808.0      0.0             0.0      0.0             0.0    FL
  2          41149.0      0.0             0.0      0.0             0.0    GA
  3          41149.0      0.0             0.0      0.0             0.0    GA
  4          37147.0      0.0             0.0      0.0             0.0    GA
...              ...      ...             ...      ...             ...   ...
i 91             0.0      0.0             0.0      1.0         90436.0    TX
  92             0.0      0.0             0.0      1.0         70873.0    GA
  93             0.0      0.0             0.0      1.0         60968.0    FL
  94             0.0      0.0             0.0      1.0         71794.0    TX
  95             0.0      0.0             0.0      1.0         90646.0    TX

[1710 rows x 11 columns]

In [227]:
#Convert Data Types
Sports['MLBGame']=Sports['MLBGame'].astype(int)
Sports['NBAGame']=Sports['NBAGame'].astype(int)
Sports['NFLGame']=Sports['NFLGame'].astype(int)
Sports['MLB_Attendance']=Sports['MLB_Attendance'].astype(int)
Sports['NBA_Attendance']=Sports['NBA_Attendance'].astype(int)
Sports['NFL_Attendance']=Sports['NFL_Attendance'].astype(int)
display(Sports.dtypes)

City                      object
Date              datetime64[ns]
Day of Week               object
JoinID                    object
MLBGame                    int32
MLB_Attendance             int32
NBAGame                    int32
NBA_Attendance             int32
NFLGame                    int32
NFL_Attendance             int32
State                     object
dtype: object

In [228]:
display(Sports)

         City       Date Day of Week               JoinID  MLBGame  \
J 0     Miami 2017-04-11     Tuesday    2017-04-11MiamiFL        1
  1     Miami 2017-04-12   Wednesday    2017-04-12MiamiFL        1
  2   Atlanta 2017-04-14      Friday  2017-04-14AtlantaGA        1
  3   Atlanta 2017-04-15    Saturday  2017-04-15AtlantaGA        1
  4   Atlanta 2017-04-16      Sunday  2017-04-16AtlantaGA        1
...       ...        ...         ...                  ...      ...
i 91   Dallas 2019-12-15      Sunday   2019-12-15DallasTX        0
  92  Atlanta 2019-12-22      Sunday  2019-12-22AtlantaGA        0
  93    Miami 2019-12-22      Sunday    2019-12-22MiamiFL        0
  94  Houston 2019-12-29      Sunday  2019-12-29HoustonTX        0
  95   Dallas 2019-12-29      Sunday   2019-12-29DallasTX        0

      MLB_Attendance  NBAGame  NBA_Attendance  NFLGame  NFL_Attendance State
J 0            36519        0               0        0               0    FL
  1            16808        0               0        0               0    FL
  2            41149        0               0        0               0    GA
  3            41149        0               0        0               0    GA
  4            37147        0               0        0               0    GA
...              ...      ...             ...      ...             ...   ...
i 91               0        0               0        1           90436    TX
  92               0        0               0        1           70873    GA
  93               0        0               0        1           60968    FL
  94               0        0               0        1           71794    TX
  95               0        0               0        1           90646    TX

[1710 rows x 11 columns]

In [247]:
#Import Accident Data
atlURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/ACCIDENT%20DATA/ATL_Accidents.csv"
dalURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/ACCIDENT%20DATA/DAL_Accidents.csv"
houURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/ACCIDENT%20DATA/HOU_Accidents.csv"
miaURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/ACCIDENT%20DATA/MIA_Accidents.csv"
ATLraw=pd.read_csv(atlURL, engine='python', error_bad_lines=False)
ATL=pd.DataFrame(ATLraw)
DALraw=pd.read_csv(dalURL, engine='python', error_bad_lines=False)
DAL=pd.DataFrame(DALraw)
HOUraw=pd.read_csv(houURL, engine='python', error_bad_lines=False)
HOU=pd.DataFrame(HOUraw)
MIAraw=pd.read_csv(miaURL, engine='python', error_bad_lines=False)
MIA=pd.DataFrame(MIAraw)

In [248]:
display(MIA)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,Street,Side,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-120739,MapQuest,201.0,2,2017-01-02 13:40:24,2017-01-02 15:10:02,25.643578,-80.334251,NaN,NaN,0.010,Accident on US-1 Dixie Hwy Southbound at 136th...,13627.0,S Dixie Hwy,R,Miami,Miami-Dade,FL,33176-7219,US,US/Eastern,KTMB,2017-01-02 13:53:00,82.0,NaN,67.0,30.11,10.0,ESE,16.1,NaN,Mostly Cloudy,False,False,False,False,False,False,False,False,True,False,False,True,False,Day,Day,Day,Day
1,A-120740,MapQuest,201.0,2,2017-01-02 14:38:32,2017-01-02 15:07:59,25.928244,-80.196335,NaN,NaN,0.010,Right lane blocked due to accident on FL-826 1...,NaN,NE 2nd Ave,R,Miami,Miami-Dade,FL,33162,US,US/Eastern,KHWO,2017-01-02 14:53:00,81.0,NaN,69.0,30.11,10.0,SE,15.0,NaN,Mostly Cloudy,False,False,False,False,False,False,False,False,True,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26014,A-2974023,Bing,NaN,2,2019-08-23 13:08:31,2019-08-23 13:37:40,25.812250,-80.237460,25.812460,-80.243590,0.382,At SR-9/27th Ave/Unity Blvd - Accident. Right ...,NaN,Airport Expy W,R,Miami,Miami-Dade,FL,33142,US,US/Eastern,KMIA,2019-08-23 12:53:00,87.0,87.0,69.0,29.92,10.0,N,7.0,0.05,Cloudy,False,False,False,False,True,False,False,False,False,False,False,False,False,Day,Day,Day,Day
26015,A-2974039,Bing,NaN,4,2019-08-23 19:14:05,2019-08-23 19:43:39,25.935950,-80.199180,25.932061,-80.203819,0.394,Closed at US-441/Florida's Tpke/Exit 12 - Road...,NaN,I-95 S,R,Miami,Miami-Dade,FL,33162,US,US/Eastern,KHWO,2019-08-23 18:53:00,85.0,85.0,72.0,29.89,10.0,NE,8.0,0.00,Fair,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day

In [249]:
#Remove Unneeded Accident columns
ATL=ATL.drop(columns=['ID','Description','County','Country','Airport_Code','TMC','Source','Street','Timezone'])
DAL=DAL.drop(columns=['ID','Description','County','Country','Airport_Code','TMC','Source','Street','Timezone'])
HOU=HOU.drop(columns=['ID','Description','County','Country','Airport_Code','TMC','Source','Street','Timezone'])
MIA=MIA.drop(columns=['ID','Description','County','Country','Airport_Code','TMC','Source','Street','Timezone'])

In [250]:
#Add Date Field
ATL['Date']=pd.to_datetime(ATL['Start_Time'], format= '%Y-%m-%d').dt.date
DAL['Date']=pd.to_datetime(DAL['Start_Time'], format= '%Y-%m-%d').dt.date
HOU['Date']=pd.to_datetime(HOU['Start_Time'], format= '%Y-%m-%d').dt.date
MIA['Date']=pd.to_datetime(MIA['Start_Time'], format= '%Y-%m-%d').dt.date

In [251]:
#Calculate accident clean up time
ATL['CleanUpTime']=pd.to_datetime(ATL['End_Time'])-pd.to_datetime(ATL['Start_Time'])
DAL['CleanUpTime']=pd.to_datetime(DAL['End_Time'])-pd.to_datetime(DAL['Start_Time'])
HOU['CleanUpTime']=pd.to_datetime(HOU['End_Time'])-pd.to_datetime(HOU['Start_Time'])
MIA['CleanUpTime']=pd.to_datetime(MIA['End_Time'])-pd.to_datetime(MIA['Start_Time'])

In [252]:
#Remove Extra Time columns
ATL=ATL.drop(columns=['Start_Time','End_Time','Weather_Timestamp'])
DAL=DAL.drop(columns=['Start_Time','End_Time','Weather_Timestamp'])
HOU=HOU.drop(columns=['Start_Time','End_Time','Weather_Timestamp'])
MIA=MIA.drop(columns=['Start_Time','End_Time','Weather_Timestamp'])

In [253]:
display(MIA)

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Side,City,State,Zipcode,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Date,CleanUpTime
0,2,25.643578,-80.334251,NaN,NaN,0.010,13627.0,R,Miami,FL,33176-7219,82.0,NaN,67.0,30.11,10.0,ESE,16.1,NaN,Mostly Cloudy,False,False,False,False,False,False,False,False,True,False,False,True,False,Day,Day,Day,Day,2017-01-02,01:29:38
1,2,25.928244,-80.196335,NaN,NaN,0.010,NaN,R,Miami,FL,33162,81.0,NaN,69.0,30.11,10.0,SE,15.0,NaN,Mostly Cloudy,False,False,False,False,False,False,False,False,True,False,False,True,False,Day,Day,Day,Day,2017-01-02,00:29:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26014,2,25.812250,-80.237460,25.812460,-80.243590,0.382,NaN,R,Miami,FL,33142,87.0,87.0,69.0,29.92,10.0,N,7.0,0.05,Cloudy,False,False,False,False,True,False,False,False,False,False,False,False,False,Day,Day,Day,Day,2019-08-23,00:29:09
26015,4,25.935950,-80.199180,25.932061,-80.203819,0.394,NaN,R,Miami,FL,33162,85.0,85.0,72.0,29.89,10.0,NE,8.0,0.00,Fair,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day,2019-08-23,00:29:34

In [255]:
#Join all accident data sets
ATL['JoinID']=ATL['Date'].astype(str)+ATL['City'].astype(str)+ATL['State'].astype(str)
DAL['JoinID']=DAL['Date'].astype(str)+DAL['City'].astype(str)+DAL['State'].astype(str)
HOU['JoinID']=HOU['Date'].astype(str)+HOU['City'].astype(str)+HOU['State'].astype(str)
MIA['JoinID']=MIA['Date'].astype(str)+MIA['City'].astype(str)+MIA['State'].astype(str)
US=pd.DataFrame(pd.concat([ATL,DAL,HOU,MIA], axis=0, join='outer', ignore_index=False, keys='JoinID',
          levels=None, names=None, verify_integrity=False, copy=True, sort=True))

In [256]:
display(US)

         Amenity Astronomical_Twilight   Bump     City Civil_Twilight  \
J 0        False                   Day  False  Atlanta            Day
  1        False                   Day  False  Atlanta            Day
...          ...                   ...    ...      ...            ...
n 26014    False                   Day  False    Miami            Day
  26015    False                   Day  False    Miami            Day

        CleanUpTime  Crossing        Date  Distance(mi)    End_Lat    End_Lng  \
J 0        01:15:27     False  2017-01-02         0.010        NaN        NaN
  1        01:15:34     False  2017-01-02         0.010        NaN        NaN
...             ...       ...         ...           ...        ...        ...
n 26014    00:29:09     False  2019-08-23         0.382  25.812460 -80.243590
  26015    00:29:34     False  2019-08-23         0.394  25.932061 -80.203819

         Give_Way  Humidity(%)               JoinID  Junction  \
J 0         False        100.0  2017-01-02AtlantaGA      True
  1         False        100.0  2017-01-02AtlantaGA     False
...           ...          ...                  ...       ...
n 26014     False         69.0    2019-08-23MiamiFL      True
  26015     False         72.0    2019-08-23MiamiFL     False

        Nautical_Twilight  No_Exit  Number  Precipitation(in)  Pressure(in)  \
J 0                   Day    False     NaN               0.02         30.11
  1                   Day    False     NaN               0.02         30.11
...                   ...      ...     ...                ...           ...
n 26014               Day    False     NaN               0.05         29.92
  26015               Day    False     NaN               0.00         29.89

         Railway  Roundabout  Severity Side  Start_Lat  Start_Lng State  \
J 0        False       False         3    R  33.652431 -84.396278    GA
  1        False       False         3    R  33.744976 -84.390343    GA
...          ...         ...       ...  ...        ...        ...   ...
n 26014    False       False         2    R  25.812250 -80.237460    FL
  26015    False       False         4    R  25.935950 -80.199180    FL

         Station   Stop Sunrise_Sunset  Temperature(F)  Traffic_Calming  \
J 0        False  False            Day            55.9            False
  1        False  False            Day            55.9            False
...          ...    ...            ...             ...              ...
n 26014    False  False            Day            87.0            False
  26015    False  False            Day            85.0            False

         Traffic_Signal  Turning_Loop  Visibility(mi) Weather_Condition  \
J 0               False         False             0.2        Light Rain
  1               False         False             0.2        Light Rain
...                 ...           ...             ...               ...
n 26014           False         False            10.0            Cloudy
  26015           False         False            10.0              Fair

         Wind_Chill(F) Wind_Direction  Wind_Speed(mph) Zipcode
J 0                NaN            NNE              8.1   30354
  1                NaN            NNE              8.1   30312
...                ...            ...              ...     ...
n 26014           87.0              N              7.0   33142
  26015           85.0             NE              8.0   33162

[181177 rows x 40 columns]

In [258]:
#Merge all datsets
USAgg=pd.merge(US,Sports, how='outer', on=['JoinID', 'JoinID'])

In [259]:
display(USAgg)

,Amenity,Astronomical_Twilight,Bump,City_x,Civil_Twilight,CleanUpTime,Crossing,Date_x,Distance(mi),End_Lat,End_Lng,Give_Way,Humidity(%),JoinID,Junction,Nautical_Twilight,No_Exit,Number,Precipitation(in),Pressure(in),Railway,Roundabout,Severity,Side,Start_Lat,Start_Lng,State_x,Station,Stop,Sunrise_Sunset,Temperature(F),Traffic_Calming,Traffic_Signal,Turning_Loop,Visibility(mi),Weather_Condition,Wind_Chill(F),Wind_Direction,Wind_Speed(mph),Zipcode,City_y,Date_y,Day of Week,MLBGame,MLB_Attendance,NBAGame,NBA_Attendance,NFLGame,NFL_Attendance,State_y
0,False,Day,False,Atlanta,Day,01:15:27,False,2017-01-02,0.01,NaN,NaN,False,100.0,2017-01-02AtlantaGA,True,Day,False,NaN,0.02,30.11,False,False,3.0,R,33.652431,-84.396278,GA,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1,30354,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,Day,False,Atlanta,Day,01:15:34,False,2017-01-02,0.01,NaN,NaN,False,100.0,2017-01-02AtlantaGA,False,Day,False,NaN,0.02,30.11,False,False,3.0,R,33.744976,-84.390343,GA,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1,30312,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187632,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-24MiamiFL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Miami,2019-08-24,Saturday,1.0,12981.0,0.0,0.0,0.0,0.0,FL
187633,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-01AtlantaGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta,2017-01-01,Sunday,0.0,0.0,1.0,18088.0,0.0,0.0,GA

In [265]:
#Rename Columns, drop extras from join
USAgg.rename(columns={'City_x':'City','Date_x':'Date','State_x':'State'},inplace=True)
USAgg=USAgg.drop(columns=['City_y','Date_y','State_y', 'JoinID'])

In [266]:
#Fill NA values for sports
USAgg['MLBGame'].fillna(0, inplace=True)
USAgg['NBAGame'].fillna(0, inplace=True)
USAgg['NFLGame'].fillna(0, inplace=True)
USAgg['MLB_Attendance'].fillna(0, inplace=True)
USAgg['NBA_Attendance'].fillna(0, inplace=True)
USAgg['NFL_Attendance'].fillna(0, inplace=True)

In [267]:
display(USAgg)

,Amenity,Astronomical_Twilight,Bump,City,Civil_Twilight,CleanUpTime,Crossing,Date,Distance(mi),End_Lat,End_Lng,Give_Way,Humidity(%),Junction,Nautical_Twilight,No_Exit,Number,Precipitation(in),Pressure(in),Railway,Roundabout,Severity,Side,Start_Lat,Start_Lng,State,Station,Stop,Sunrise_Sunset,Temperature(F),Traffic_Calming,Traffic_Signal,Turning_Loop,Visibility(mi),Weather_Condition,Wind_Chill(F),Wind_Direction,Wind_Speed(mph),Zipcode,Day of Week,MLBGame,MLB_Attendance,NBAGame,NBA_Attendance,NFLGame,NFL_Attendance
0,False,Day,False,Atlanta,Day,01:15:27,False,2017-01-02,0.01,NaN,NaN,False,100.0,True,Day,False,NaN,0.02,30.11,False,False,3.0,R,33.652431,-84.396278,GA,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1,30354,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,False,Day,False,Atlanta,Day,01:15:34,False,2017-01-02,0.01,NaN,NaN,False,100.0,False,Day,False,NaN,0.02,30.11,False,False,3.0,R,33.744976,-84.390343,GA,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1,30312,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187632,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,1.0,12981.0,0.0,0.0,0.0,0.0
187633,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,0.0,0.0,1.0,18088.0,0.0,0.0

In [273]:
#Create consolidated lat, lng fields
USAgg['Lat']=USAgg['Start_Lat']
USAgg['Lng']=USAgg['Start_Lng']
USAgg.loc[USAgg['Lat']=='NaN', ['Lat']] = USAgg['End_Lat']
USAgg.loc[USAgg['Lng']=='NaN', ['Lng']] = USAgg['End_Lng']
USAgg=pd.DataFrame(USAgg)
USAgg=USAgg.drop(columns=['Start_Lat','Start_Lng','End_Lat','End_Lng'])

In [274]:
pd.options.display.max_columns=60
pd.options.display.max_rows=200
display(USAgg)

,Amenity,Astronomical_Twilight,Bump,City,Civil_Twilight,CleanUpTime,Crossing,Date,Distance(mi),Give_Way,Humidity(%),Junction,Nautical_Twilight,No_Exit,Number,Precipitation(in),Pressure(in),Railway,Roundabout,Severity,Side,State,Station,Stop,Sunrise_Sunset,Temperature(F),Traffic_Calming,Traffic_Signal,Turning_Loop,Visibility(mi),Weather_Condition,Wind_Chill(F),Wind_Direction,Wind_Speed(mph),Zipcode,Day of Week,MLBGame,MLB_Attendance,NBAGame,NBA_Attendance,NFLGame,NFL_Attendance,Lat,Lng
0,False,Day,False,Atlanta,Day,01:15:27,False,2017-01-02,0.010,False,100.0,True,Day,False,NaN,0.02,30.11,False,False,3.0,R,GA,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1,30354,NaN,0.0,0.0,0.0,0.0,0.0,0.0,33.652431,-84.396278
1,False,Day,False,Atlanta,Day,01:15:34,False,2017-01-02,0.010,False,100.0,False,Day,False,NaN,0.02,30.11,False,False,3.0,R,GA,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1,30312,NaN,0.0,0.0,0.0,0.0,0.0,0.0,33.744976,-84.390343
2,False,Day,False,Atlanta,Day,00:29:40,False,2017-01-02,0.010,False,96.0,False,Day,False,NaN,0.01,30.12,False,False,2.0,R,GA,False,False,Day,53.1,False,False,False,1.0,Light Rain,NaN,Variable,4.6,30324,NaN,0.0,0.0,0.0,0.0,0.0,0.0,33.821548,-84.359383
3,False,Day,False,Atlanta,Day,00:29:20,False,2017-01-02,0.010,False,96.0,False,Day,False,NaN,0.01,30.12,False,False,3.0,R,GA,False,False,Day,53.1,False,False,False,1.0,Light Rain,NaN,Variable,4.6,30342,NaN,0.0,0.0,0.0,0.0,0.0,0.0,33.912338,-84.379128
4,False,Day,False,Atlanta,Day,00:29:41,False,2017-01-02,0.010,False,96.0,False,Day,False,NaN,0.16,30.13,False,False,2.0,R,GA,False,False,Day,53.1,False,False,False,1.0,Rain,NaN,Variable,3.5,30350,NaN,0.0,0.0,0.0,0.0,0.0,0.0,33.982327,-84.341644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187629,False,Day,False,Miami,Day,06:00:00,False,2017-08-29,3.424,False,NaN,False,Day,False,1104.0,NaN,NaN,False,False,2.0,L,AZ,False,False,Day,NaN,False,False,False,NaN,NaN,NaN,North,NaN,85539-1108,NaN,0.0,0.0,0.0,0.0,0.0,0.0,33.394566,-110.876967
187630,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,1.0,39455.0,0.0,0.0,0.0,0.0,NaN,NaN
187631,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,1.0,37862.0,0.0,0.0,0.0,0.0,NaN,NaN
187632,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,1.0,12981.0,0.0,0.0,0.0,0.0,NaN,NaN
187633,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,0.0,0.0,1.0,18088.0,0.0,0.0,NaN,NaN

In [276]:
#Fill in null Day of Week
USAgg['Day of Week']=pd.to_datetime(USAgg['Date']).dt.day_name()

In [281]:
#Remove records with too many NA values
USAgg=USAgg.dropna(how='any',subset=['City','State','Date','Lat','Lng'])

In [282]:
display(USAgg)

,Amenity,Astronomical_Twilight,Bump,City,Civil_Twilight,CleanUpTime,Crossing,Date,Distance(mi),Give_Way,Humidity(%),Junction,Nautical_Twilight,No_Exit,Number,Precipitation(in),Pressure(in),Railway,Roundabout,Severity,Side,State,Station,Stop,Sunrise_Sunset,Temperature(F),Traffic_Calming,Traffic_Signal,Turning_Loop,Visibility(mi),Weather_Condition,Wind_Chill(F),Wind_Direction,Wind_Speed(mph),Zipcode,Day of Week,MLBGame,MLB_Attendance,NBAGame,NBA_Attendance,NFLGame,NFL_Attendance,Lat,Lng
0,False,Day,False,Atlanta,Day,01:15:27,False,2017-01-02,0.010,False,100.0,True,Day,False,NaN,0.02,30.11,False,False,3.0,R,GA,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1,30354,Monday,0.0,0.0,0.0,0.0,0.0,0.0,33.652431,-84.396278
1,False,Day,False,Atlanta,Day,01:15:34,False,2017-01-02,0.010,False,100.0,False,Day,False,NaN,0.02,30.11,False,False,3.0,R,GA,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1,30312,Monday,0.0,0.0,0.0,0.0,0.0,0.0,33.744976,-84.390343
2,False,Day,False,Atlanta,Day,00:29:40,False,2017-01-02,0.010,False,96.0,False,Day,False,NaN,0.01,30.12,False,False,2.0,R,GA,False,False,Day,53.1,False,False,False,1.0,Light Rain,NaN,Variable,4.6,30324,Monday,0.0,0.0,0.0,0.0,0.0,0.0,33.821548,-84.359383
3,False,Day,False,Atlanta,Day,00:29:20,False,2017-01-02,0.010,False,96.0,False,Day,False,NaN,0.01,30.12,False,False,3.0,R,GA,False,False,Day,53.1,False,False,False,1.0,Light Rain,NaN,Variable,4.6,30342,Monday,0.0,0.0,0.0,0.0,0.0,0.0,33.912338,-84.379128
4,False,Day,False,Atlanta,Day,00:29:41,False,2017-01-02,0.010,False,96.0,False,Day,False,NaN,0.16,30.13,False,False,2.0,R,GA,False,False,Day,53.1,False,False,False,1.0,Rain,NaN,Variable,3.5,30350,Monday,0.0,0.0,0.0,0.0,0.0,0.0,33.982327,-84.341644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187625,False,Day,False,Miami,Day,06:00:00,False,2017-07-31,0.000,False,90.0,False,Day,False,NaN,0.04,30.01,False,False,2.0,R,FL,False,False,Day,77.0,False,False,False,10.0,Light Rain,NaN,West,5.8,33169,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,25.929028,-80.206988
187626,False,Day,False,Miami,Day,06:00:00,False,2017-07-31,0.062,False,90.0,False,Day,False,NaN,0.07,30.01,False,False,2.0,R,FL,False,False,Day,77.0,False,False,False,7.0,Light Rain,NaN,West,5.8,33136,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,25.788244,-80.208609
187627,False,Day,False,Miami,Day,06:00:00,False,2017-07-31,0.310,False,84.0,False,Day,False,NaN,0.00,30.00,False,False,2.0,R,FL,False,False,Day,79.0,False,False,False,10.0,Overcast,NaN,SSE,8.1,33142,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,25.812520,-80.219030
187628,False,Day,False,Miami,Day,06:00:00,False,2017-07-31,0.709,False,87.0,False,Day,False,NaN,NaN,29.99,False,False,2.0,R,FL,False,False,Day,78.1,False,False,False,10.0,Mostly Cloudy,NaN,South,11.5,33183,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,25.691380,-80.388950
187629,False,Day,False,Miami,Day,06:00:00,False,2017-08-29,3.424,False,NaN,False,Day,False,1104.0,NaN,NaN,False,False,2.0,L,AZ,False,False,Day,NaN,False,False,False,NaN,NaN,NaN,North,NaN,85539-1108,Tuesday,0.0,0.0,0.0,0.0,0.0,0.0,33.394566,-110.876967

In [287]:
#Create Day/Night, remove redundant
USAgg=USAgg.rename(columns={'Sunrise_Sunset':'Day_or_Night','Day of Week':'Day_of_Week'})
USAgg=USAgg.drop(columns=['Astronomical_Twilight','Civil_Twilight','Nautical_Twilight'])

In [289]:
display(USAgg.columns)

Index(['Amenity', 'Bump', 'City', 'CleanUpTime', 'Crossing', 'Date',
       'Distance(mi)', 'Give_Way', 'Humidity(%)', 'Junction', 'No_Exit',
       'Number', 'Precipitation(in)', 'Pressure(in)', 'Railway', 'Roundabout',
       'Severity', 'Side', 'State', 'Station', 'Stop', 'Day_or_Night',
       'Temperature(F)', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Visibility(mi)', 'Weather_Condition', 'Wind_Chill(F)',
       'Wind_Direction', 'Wind_Speed(mph)', 'Zipcode', 'Day_of_Week',
       'MLBGame', 'MLB_Attendance', 'NBAGame', 'NBA_Attendance', 'NFLGame',
       'NFL_Attendance', 'Lat', 'Lng'],
      dtype='object')

In [290]:
USAgg=USAgg[['Date','City', 'State', 'Zipcode', 'Lat', 'Lng','Day_of_Week',
       'MLBGame', 'MLB_Attendance', 'NBAGame', 'NBA_Attendance', 'NFLGame',
       'NFL_Attendance', 'CleanUpTime', 'Distance(mi)','Crossing','Amenity', 'Bump', 
        'Give_Way', 'Humidity(%)', 'Junction', 'No_Exit',
       'Number', 'Precipitation(in)', 'Pressure(in)', 'Railway', 'Roundabout',
       'Severity', 'Side', 'Station', 'Stop', 'Day_or_Night',
       'Temperature(F)', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Visibility(mi)', 'Weather_Condition', 'Wind_Chill(F)',
       'Wind_Direction', 'Wind_Speed(mph)' ]]

In [292]:
pd.options.display.max_columns=60
pd.options.display.max_rows=200
display(USAgg)

,Date,City,State,Zipcode,Lat,Lng,Day_of_Week,MLBGame,MLB_Attendance,NBAGame,NBA_Attendance,NFLGame,NFL_Attendance,CleanUpTime,Distance(mi),Crossing,Amenity,Bump,Give_Way,Humidity(%),Junction,No_Exit,Number,Precipitation(in),Pressure(in),Railway,Roundabout,Severity,Side,Station,Stop,Day_or_Night,Temperature(F),Traffic_Calming,Traffic_Signal,Turning_Loop,Visibility(mi),Weather_Condition,Wind_Chill(F),Wind_Direction,Wind_Speed(mph)
0,2017-01-02,Atlanta,GA,30354,33.652431,-84.396278,Monday,0.0,0.0,0.0,0.0,0.0,0.0,01:15:27,0.010,False,False,False,False,100.0,True,False,NaN,0.02,30.11,False,False,3.0,R,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1
1,2017-01-02,Atlanta,GA,30312,33.744976,-84.390343,Monday,0.0,0.0,0.0,0.0,0.0,0.0,01:15:34,0.010,False,False,False,False,100.0,False,False,NaN,0.02,30.11,False,False,3.0,R,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1
2,2017-01-02,Atlanta,GA,30324,33.821548,-84.359383,Monday,0.0,0.0,0.0,0.0,0.0,0.0,00:29:40,0.010,False,False,False,False,96.0,False,False,NaN,0.01,30.12,False,False,2.0,R,False,False,Day,53.1,False,False,False,1.0,Light Rain,NaN,Variable,4.6
3,2017-01-02,Atlanta,GA,30342,33.912338,-84.379128,Monday,0.0,0.0,0.0,0.0,0.0,0.0,00:29:20,0.010,False,False,False,False,96.0,False,False,NaN,0.01,30.12,False,False,3.0,R,False,False,Day,53.1,False,False,False,1.0,Light Rain,NaN,Variable,4.6
4,2017-01-02,Atlanta,GA,30350,33.982327,-84.341644,Monday,0.0,0.0,0.0,0.0,0.0,0.0,00:29:41,0.010,False,False,False,False,96.0,False,False,NaN,0.16,30.13,False,False,2.0,R,False,False,Day,53.1,False,False,False,1.0,Rain,NaN,Variable,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187625,2017-07-31,Miami,FL,33169,25.929028,-80.206988,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.000,False,False,False,False,90.0,False,False,NaN,0.04,30.01,False,False,2.0,R,False,False,Day,77.0,False,False,False,10.0,Light Rain,NaN,West,5.8
187626,2017-07-31,Miami,FL,33136,25.788244,-80.208609,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.062,False,False,False,False,90.0,False,False,NaN,0.07,30.01,False,False,2.0,R,False,False,Day,77.0,False,False,False,7.0,Light Rain,NaN,West,5.8
187627,2017-07-31,Miami,FL,33142,25.812520,-80.219030,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.310,False,False,False,False,84.0,False,False,NaN,0.00,30.00,False,False,2.0,R,False,False,Day,79.0,False,False,False,10.0,Overcast,NaN,SSE,8.1
187628,2017-07-31,Miami,FL,33183,25.691380,-80.388950,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.709,False,False,False,False,87.0,False,False,NaN,NaN,29.99,False,False,2.0,R,False,False,Day,78.1,False,False,False,10.0,Mostly Cloudy,NaN,South,11.5
187629,2017-08-29,Miami,AZ,85539-1108,33.394566,-110.876967,Tuesday,0.0,0.0,0.0,0.0,0.0,0.0,06:00:00,3.424,False,False,False,False,NaN,False,False,1104.0,NaN,NaN,False,False,2.0,L,False,False,Day,NaN,False,False,False,NaN,NaN,NaN,North,NaN

In [296]:
#Drop States Outside of Study
USFinal=USAgg[USAgg['State'].isin(['GA','TX','FL'])]
display(USFinal)

,Date,City,State,Zipcode,Lat,Lng,Day_of_Week,MLBGame,MLB_Attendance,NBAGame,NBA_Attendance,NFLGame,NFL_Attendance,CleanUpTime,Distance(mi),Crossing,Amenity,Bump,Give_Way,Humidity(%),Junction,No_Exit,Number,Precipitation(in),Pressure(in),Railway,Roundabout,Severity,Side,Station,Stop,Day_or_Night,Temperature(F),Traffic_Calming,Traffic_Signal,Turning_Loop,Visibility(mi),Weather_Condition,Wind_Chill(F),Wind_Direction,Wind_Speed(mph)
0,2017-01-02,Atlanta,GA,30354,33.652431,-84.396278,Monday,0.0,0.0,0.0,0.0,0.0,0.0,01:15:27,0.010,False,False,False,False,100.0,True,False,NaN,0.02,30.11,False,False,3.0,R,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1
1,2017-01-02,Atlanta,GA,30312,33.744976,-84.390343,Monday,0.0,0.0,0.0,0.0,0.0,0.0,01:15:34,0.010,False,False,False,False,100.0,False,False,NaN,0.02,30.11,False,False,3.0,R,False,False,Day,55.9,False,False,False,0.2,Light Rain,NaN,NNE,8.1
2,2017-01-02,Atlanta,GA,30324,33.821548,-84.359383,Monday,0.0,0.0,0.0,0.0,0.0,0.0,00:29:40,0.010,False,False,False,False,96.0,False,False,NaN,0.01,30.12,False,False,2.0,R,False,False,Day,53.1,False,False,False,1.0,Light Rain,NaN,Variable,4.6
3,2017-01-02,Atlanta,GA,30342,33.912338,-84.379128,Monday,0.0,0.0,0.0,0.0,0.0,0.0,00:29:20,0.010,False,False,False,False,96.0,False,False,NaN,0.01,30.12,False,False,3.0,R,False,False,Day,53.1,False,False,False,1.0,Light Rain,NaN,Variable,4.6
4,2017-01-02,Atlanta,GA,30350,33.982327,-84.341644,Monday,0.0,0.0,0.0,0.0,0.0,0.0,00:29:41,0.010,False,False,False,False,96.0,False,False,NaN,0.16,30.13,False,False,2.0,R,False,False,Day,53.1,False,False,False,1.0,Rain,NaN,Variable,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187624,2017-07-31,Miami,FL,33169,25.927500,-80.217210,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.276,False,False,False,False,91.0,False,False,NaN,0.05,30.00,False,False,3.0,R,False,False,Day,75.9,False,False,False,10.0,Light Rain,NaN,SSW,8.1
187625,2017-07-31,Miami,FL,33169,25.929028,-80.206988,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.000,False,False,False,False,90.0,False,False,NaN,0.04,30.01,False,False,2.0,R,False,False,Day,77.0,False,False,False,10.0,Light Rain,NaN,West,5.8
187626,2017-07-31,Miami,FL,33136,25.788244,-80.208609,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.062,False,False,False,False,90.0,False,False,NaN,0.07,30.01,False,False,2.0,R,False,False,Day,77.0,False,False,False,7.0,Light Rain,NaN,West,5.8
187627,2017-07-31,Miami,FL,33142,25.812520,-80.219030,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.310,False,False,False,False,84.0,False,False,NaN,0.00,30.00,False,False,2.0,R,False,False,Day,79.0,False,False,False,10.0,Overcast,NaN,SSE,8.1
187628,2017-07-31,Miami,FL,33183,25.691380,-80.388950,Monday,1.0,18962.0,0.0,0.0,0.0,0.0,06:00:00,0.709,False,False,False,False,87.0,False,False,NaN,NaN,29.99,False,False,2.0,R,False,False,Day,78.1,False,False,False,10.0,Mostly Cloudy,NaN,South,11.5