In [49]:
import pandas as pd
import numpy as np

In [50]:
#Bring in Sports Data
mlbURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/MLB.csv"
nbaURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/NBA.csv"
nflURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/NFL.csv"
MLBraw=pd.read_csv(mlbURL, engine='python', error_bad_lines=False)
MLB=pd.DataFrame(MLBraw)
NBAraw=pd.read_csv(nbaURL, engine='python', error_bad_lines=False)
NBA=pd.DataFrame(NBAraw)
NFLraw=pd.read_csv(nflURL, engine='python', error_bad_lines=False)
NFL=pd.DataFrame(NFLraw)
print(MLB)
print(NBA)
print(NFL)

                  Date  Time D/N  Attendance  Year HomeTeam
0       Tuesday Apr 11  2:54   N     36519.0  2017      MIA
1     Wednesday Apr 12  2:51   N     16808.0  2017      MIA
2        Friday Apr 14  2:57   N     41149.0  2017      ATL
3      Saturday Apr 15  2:20   N     41149.0  2017      ATL
4        Sunday Apr 16  2:46   D     37147.0  2017      ATL
...                ...   ...  ..         ...   ...      ...
1091  Wednesday Sep 11  3:02   N      7815.0  2019      MIA
1092   Thursday Sep 12  2:59   D      7375.0  2019      MIA
1093     Friday Sep 20  3:13   N     12775.0  2019      MIA
1094   Saturday Sep 21  4:20   N     18085.0  2019      MIA
1095     Sunday Sep 22  3:13   D     19709.0  2019      MIA

[1096 rows x 6 columns]
                Date Start (ET)          HomeTeam  Attend.
0     Sun Jan 1 2017      6:00p     Atlanta Hawks  18088.0
1     Sun Jan 1 2017      6:00p        Miami Heat  19844.0
2     Mon Jan 2 2017      8:00p   Houston Rockets  16569.0
3     Tue Jan 3 2017      8:30p  Dallas Mavericks  19318.0
4     Thu Jan 5 2017      8:00p   Houston Rockets  18055.0
..               ...        ...               ...      ...
513  Fri Dec 27 2019      7:30p     Atlanta Hawks  17358.0
514  Fri Dec 27 2019      8:00p        Miami Heat  19767.0
515  Sat Dec 28 2019      8:00p   Houston Rockets  18306.0
516  Sat Dec 28 2019      8:00p        Miami Heat  19865.0
517  Tue Dec 31 2019      7:00p   Houston Rockets  18055.0

[518 rows x 4 columns]
    Day          Date    Time  Year         HomeTeam  Attendance
0   Sun  September 10  1:00PM  2017   Houston Texans       71710
1   Sun  September 10  8:30PM  2017   Dallas Cowboys       93183
2   Sun  September 17  8:30PM  2017  Atlanta Falcons       70826
3   Sun     October 1  9:30AM  2017   Miami Dolphins       84423
4   Sun     October 1  1:00PM  2017   Houston Texans       71804
..  ...           ...     ...   ...              ...         ...
91  Sun   December 15  4:25PM  2019   Dallas Cowboys       90436
92  Sun   December 22  1:00PM  2019  Atlanta Falcons       70873
93  Sun   December 22  1:00PM  2019   Miami Dolphins       60968
94  Sun   December 29  4:25PM  2019   Houston Texans       71794
95  Sun   December 29  4:25PM  2019   Dallas Cowboys       90646

[96 rows x 6 columns]

In [51]:
#Add City, State to MLB, NBA, NFL data
MLB['City']='Atlanta'
MLB['State']='GA'
NBA['City']='Atlanta'
NBA['State']='GA'
NFL['City']='Atlanta'
NFL['State']='GA'
print(MLB)
print(NBA)
print(NFL)

                  Date  Time D/N  Attendance  Year HomeTeam     City State
0       Tuesday Apr 11  2:54   N     36519.0  2017      MIA  Atlanta    GA
1     Wednesday Apr 12  2:51   N     16808.0  2017      MIA  Atlanta    GA
2        Friday Apr 14  2:57   N     41149.0  2017      ATL  Atlanta    GA
3      Saturday Apr 15  2:20   N     41149.0  2017      ATL  Atlanta    GA
4        Sunday Apr 16  2:46   D     37147.0  2017      ATL  Atlanta    GA
...                ...   ...  ..         ...   ...      ...      ...   ...
1091  Wednesday Sep 11  3:02   N      7815.0  2019      MIA  Atlanta    GA
1092   Thursday Sep 12  2:59   D      7375.0  2019      MIA  Atlanta    GA
1093     Friday Sep 20  3:13   N     12775.0  2019      MIA  Atlanta    GA
1094   Saturday Sep 21  4:20   N     18085.0  2019      MIA  Atlanta    GA
1095     Sunday Sep 22  3:13   D     19709.0  2019      MIA  Atlanta    GA

[1096 rows x 8 columns]
                Date Start (ET)          HomeTeam  Attend.     City State
0     Sun Jan 1 2017      6:00p     Atlanta Hawks  18088.0  Atlanta    GA
1     Sun Jan 1 2017      6:00p        Miami Heat  19844.0  Atlanta    GA
2     Mon Jan 2 2017      8:00p   Houston Rockets  16569.0  Atlanta    GA
3     Tue Jan 3 2017      8:30p  Dallas Mavericks  19318.0  Atlanta    GA
4     Thu Jan 5 2017      8:00p   Houston Rockets  18055.0  Atlanta    GA
..               ...        ...               ...      ...      ...   ...
513  Fri Dec 27 2019      7:30p     Atlanta Hawks  17358.0  Atlanta    GA
514  Fri Dec 27 2019      8:00p        Miami Heat  19767.0  Atlanta    GA
515  Sat Dec 28 2019      8:00p   Houston Rockets  18306.0  Atlanta    GA
516  Sat Dec 28 2019      8:00p        Miami Heat  19865.0  Atlanta    GA
517  Tue Dec 31 2019      7:00p   Houston Rockets  18055.0  Atlanta    GA

[518 rows x 6 columns]
    Day          Date    Time  Year         HomeTeam  Attendance     City  \
0   Sun  September 10  1:00PM  2017   Houston Texans       71710  Atlanta
1   Sun  September 10  8:30PM  2017   Dallas Cowboys       93183  Atlanta
2   Sun  September 17  8:30PM  2017  Atlanta Falcons       70826  Atlanta
3   Sun     October 1  9:30AM  2017   Miami Dolphins       84423  Atlanta
4   Sun     October 1  1:00PM  2017   Houston Texans       71804  Atlanta
..  ...           ...     ...   ...              ...         ...      ...
91  Sun   December 15  4:25PM  2019   Dallas Cowboys       90436  Atlanta
92  Sun   December 22  1:00PM  2019  Atlanta Falcons       70873  Atlanta
93  Sun   December 22  1:00PM  2019   Miami Dolphins       60968  Atlanta
94  Sun   December 29  4:25PM  2019   Houston Texans       71794  Atlanta
95  Sun   December 29  4:25PM  2019   Dallas Cowboys       90646  Atlanta

   State
0     GA
1     GA
2     GA
3     GA
4     GA
..   ...
91    GA
92    GA
93    GA
94    GA
95    GA

[96 rows x 8 columns]

In [52]:
#Replace City/State with correct value
MLB.loc[MLB['HomeTeam']=='MIA', ['City']] = 'Miami'
MLB.loc[MLB['HomeTeam']=='MIA', ['State']] = 'FL'
MLB.loc[MLB['HomeTeam']=='TEX', ['City']] = 'Dallas'
MLB.loc[MLB['HomeTeam']=='TEX', ['State']] = 'TX'
MLB.loc[MLB['HomeTeam']=='HOU', ['City']] = 'Houston'
MLB.loc[MLB['HomeTeam']=='HOU', ['State']] = 'TX'
NBA.loc[NBA['HomeTeam']=='Miami Heat', ['City']] = 'Miami'
NBA.loc[NBA['HomeTeam']=='Miami Heat', ['State']] = 'FL'
NBA.loc[NBA['HomeTeam']=='Dallas Mavericks', ['City']] = 'Dallas'
NBA.loc[NBA['HomeTeam']=='Dallas Mavericks', ['State']] = 'TX'
NBA.loc[NBA['HomeTeam']=='Houston Rockets', ['City']] = 'Houston'
NBA.loc[NBA['HomeTeam']=='Houston Rockets', ['State']] = 'TX'
NFL.loc[NFL['HomeTeam']=='Miami Dolphins', ['City']] = 'Miami'
NFL.loc[NFL['HomeTeam']=='Miami Dolphins', ['State']] = 'FL'
NFL.loc[NFL['HomeTeam']=='Dallas Cowboys', ['City']] = 'Dallas'
NFL.loc[NFL['HomeTeam']=='Dallas Cowboys', ['State']] = 'TX'
NFL.loc[NFL['HomeTeam']=='Houston Texans', ['City']] = 'Houston'
NFL.loc[NFL['HomeTeam']=='Houston Texans', ['State']] = 'TX'

In [53]:
pd.options.display.max_columns=10
pd.options.display.max_rows=10
display(MLB)
display(NBA)
display(NFL)

                  Date  Time D/N  Attendance  Year HomeTeam     City State
0       Tuesday Apr 11  2:54   N     36519.0  2017      MIA    Miami    FL
1     Wednesday Apr 12  2:51   N     16808.0  2017      MIA    Miami    FL
2        Friday Apr 14  2:57   N     41149.0  2017      ATL  Atlanta    GA
3      Saturday Apr 15  2:20   N     41149.0  2017      ATL  Atlanta    GA
4        Sunday Apr 16  2:46   D     37147.0  2017      ATL  Atlanta    GA
...                ...   ...  ..         ...   ...      ...      ...   ...
1091  Wednesday Sep 11  3:02   N      7815.0  2019      MIA    Miami    FL
1092   Thursday Sep 12  2:59   D      7375.0  2019      MIA    Miami    FL
1093     Friday Sep 20  3:13   N     12775.0  2019      MIA    Miami    FL
1094   Saturday Sep 21  4:20   N     18085.0  2019      MIA    Miami    FL
1095     Sunday Sep 22  3:13   D     19709.0  2019      MIA    Miami    FL

[1096 rows x 8 columns]

                Date Start (ET)          HomeTeam  Attend.     City State
0     Sun Jan 1 2017      6:00p     Atlanta Hawks  18088.0  Atlanta    GA
1     Sun Jan 1 2017      6:00p        Miami Heat  19844.0    Miami    FL
2     Mon Jan 2 2017      8:00p   Houston Rockets  16569.0  Houston    TX
3     Tue Jan 3 2017      8:30p  Dallas Mavericks  19318.0   Dallas    TX
4     Thu Jan 5 2017      8:00p   Houston Rockets  18055.0  Houston    TX
..               ...        ...               ...      ...      ...   ...
513  Fri Dec 27 2019      7:30p     Atlanta Hawks  17358.0  Atlanta    GA
514  Fri Dec 27 2019      8:00p        Miami Heat  19767.0    Miami    FL
515  Sat Dec 28 2019      8:00p   Houston Rockets  18306.0  Houston    TX
516  Sat Dec 28 2019      8:00p        Miami Heat  19865.0    Miami    FL
517  Tue Dec 31 2019      7:00p   Houston Rockets  18055.0  Houston    TX

[518 rows x 6 columns]

,Day,Date,Time,Year,HomeTeam,Attendance,City,State
0,Sun,September 10,1:00PM,2017,Houston Texans,71710,Houston,TX
1,Sun,September 10,8:30PM,2017,Dallas Cowboys,93183,Dallas,TX
2,Sun,September 17,8:30PM,2017,Atlanta Falcons,70826,Atlanta,GA
3,Sun,October 1,9:30AM,2017,Miami Dolphins,84423,Miami,FL
4,Sun,October 1,1:00PM,2017,Houston Texans,71804,Houston,TX
...,...,...,...,...,...,...,...,...
91,Sun,December 15,4:25PM,2019,Dallas Cowboys,90436,Dallas,TX
92,Sun,December 22,1:00PM,2019,Atlanta Falcons,70873,Atlanta,GA
93,Sun,December 22,1:00PM,2019,Miami Dolphins,60968,Miami,FL
94,Sun,December 29,4:25PM,2019,Houston Texans,71794,Houston,TX
95,Sun,December 29,4:25PM,2019,Dallas Cowboys,90646,Dallas,TX

In [54]:
#Convert HomeTeam to Sporting Event Type, rename other columns if needed
MLB.rename(columns={"HomeTeam":"SportingEventType"},inplace=True)
NBA.rename(columns={"HomeTeam":"SportingEventType","Attend.":"Attendance", "Start(ET)":"Time"},inplace=True)
NFL.rename(columns={"HomeTeam":"SportingEventType"},inplace=True)

In [55]:
#Set Sporting Event Type
MLB['SportingEventType']='MLB'
NBA['SportingEventType']='NBA'
NFL['SportingEventType']='NFL'

In [56]:
display(MLB)
display(NBA)
display(NFL)

,Date,Time,D/N,Attendance,Year,SportingEventType,City,State
0,Tuesday Apr 11,2:54,N,36519.0,2017,MLB,Miami,FL
1,Wednesday Apr 12,2:51,N,16808.0,2017,MLB,Miami,FL
2,Friday Apr 14,2:57,N,41149.0,2017,MLB,Atlanta,GA
3,Saturday Apr 15,2:20,N,41149.0,2017,MLB,Atlanta,GA
4,Sunday Apr 16,2:46,D,37147.0,2017,MLB,Atlanta,GA
...,...,...,...,...,...,...,...,...
1091,Wednesday Sep 11,3:02,N,7815.0,2019,MLB,Miami,FL
1092,Thursday Sep 12,2:59,D,7375.0,2019,MLB,Miami,FL
1093,Friday Sep 20,3:13,N,12775.0,2019,MLB,Miami,FL
1094,Saturday Sep 21,4:20,N,18085.0,2019,MLB,Miami,FL
1095,Sunday Sep 22,3:13,D,19709.0,2019,MLB,Miami,FL

                Date Start (ET) SportingEventType  Attendance     City State
0     Sun Jan 1 2017      6:00p               NBA     18088.0  Atlanta    GA
1     Sun Jan 1 2017      6:00p               NBA     19844.0    Miami    FL
2     Mon Jan 2 2017      8:00p               NBA     16569.0  Houston    TX
3     Tue Jan 3 2017      8:30p               NBA     19318.0   Dallas    TX
4     Thu Jan 5 2017      8:00p               NBA     18055.0  Houston    TX
..               ...        ...               ...         ...      ...   ...
513  Fri Dec 27 2019      7:30p               NBA     17358.0  Atlanta    GA
514  Fri Dec 27 2019      8:00p               NBA     19767.0    Miami    FL
515  Sat Dec 28 2019      8:00p               NBA     18306.0  Houston    TX
516  Sat Dec 28 2019      8:00p               NBA     19865.0    Miami    FL
517  Tue Dec 31 2019      7:00p               NBA     18055.0  Houston    TX

[518 rows x 6 columns]

,Day,Date,Time,Year,SportingEventType,Attendance,City,State
0,Sun,September 10,1:00PM,2017,NFL,71710,Houston,TX
1,Sun,September 10,8:30PM,2017,NFL,93183,Dallas,TX
2,Sun,September 17,8:30PM,2017,NFL,70826,Atlanta,GA
3,Sun,October 1,9:30AM,2017,NFL,84423,Miami,FL
4,Sun,October 1,1:00PM,2017,NFL,71804,Houston,TX
...,...,...,...,...,...,...,...,...
91,Sun,December 15,4:25PM,2019,NFL,90436,Dallas,TX
92,Sun,December 22,1:00PM,2019,NFL,70873,Atlanta,GA
93,Sun,December 22,1:00PM,2019,NFL,60968,Miami,FL
94,Sun,December 29,4:25PM,2019,NFL,71794,Houston,TX
95,Sun,December 29,4:25PM,2019,NFL,90646,Dallas,TX