In [201]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [202]:
#Bring in Sports Data
mlbURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/MLB.csv"
nbaURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/NBA.csv"
nflURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/NFL.csv"
MLBraw=pd.read_csv(mlbURL, engine='python', error_bad_lines=False)
MLB=pd.DataFrame(MLBraw)
NBAraw=pd.read_csv(nbaURL, engine='python', error_bad_lines=False)
NBA=pd.DataFrame(NBAraw)
NFLraw=pd.read_csv(nflURL, engine='python', error_bad_lines=False)
NFL=pd.DataFrame(NFLraw)
print(MLB)
print(NBA)
print(NFL)

     Day of Week Month  Day  Year  Time D/N HomeTeam  Attendance
0        Tuesday   Apr   11  2017  2:54   N      MIA       36519
1      Wednesday   Apr   12  2017  2:51   N      MIA       16808
2         Friday   Apr   14  2017  2:57   N      ATL       41149
3       Saturday   Apr   15  2017  2:20   N      ATL       41149
4         Sunday   Apr   16  2017  2:46   D      ATL       37147
...          ...   ...  ...   ...   ...  ..      ...         ...
1091   Wednesday   Sep   11  2019  3:02   N      MIA        7815
1092    Thursday   Sep   12  2019  2:59   D      MIA        7375
1093      Friday   Sep   20  2019  3:13   N      MIA       12775
1094    Saturday   Sep   21  2019  4:20   N      MIA       18085
1095      Sunday   Sep   22  2019  3:13   D      MIA       19709

[1096 rows x 8 columns]
    Day of Week Month  Day  Year Start (ET)          HomeTeam  Attend.
0           Sun   Jan    1  2017      6:00p     Atlanta Hawks    18088
1           Sun   Jan    1  2017      6:00p        Miami Heat    19844
2           Mon   Jan    2  2017      8:00p   Houston Rockets    16569
3           Tue   Jan    3  2017      8:30p  Dallas Mavericks    19318
4           Thu   Jan    5  2017      8:00p   Houston Rockets    18055
..          ...   ...  ...   ...        ...               ...      ...
513         Fri   Dec   27  2019      7:30p     Atlanta Hawks    17358
514         Fri   Dec   27  2019      8:00p        Miami Heat    19767
515         Sat   Dec   28  2019      8:00p   Houston Rockets    18306
516         Sat   Dec   28  2019      8:00p        Miami Heat    19865
517         Tue   Dec   31  2019      7:00p   Houston Rockets    18055

[518 rows x 7 columns]
                            Date    Time  Year         HomeTeam  Attendance
0   Thursday, September 10, 2017  1:00PM  2017   Houston Texans       71710
1   Thursday, September 10, 2017  8:30PM  2017   Dallas Cowboys       93183
2   Thursday, September 17, 2017  8:30PM  2017  Atlanta Falcons       70826
3      Thursday, October 1, 2017  9:30AM  2017   Miami Dolphins       84423
4      Thursday, October 1, 2017  1:00PM  2017   Houston Texans       71804
..                           ...     ...   ...              ...         ...
91    Tuesday, December 15, 2019  4:25PM  2019   Dallas Cowboys       90436
92    Tuesday, December 22, 2019  1:00PM  2019  Atlanta Falcons       70873
93    Tuesday, December 22, 2019  1:00PM  2019   Miami Dolphins       60968
94    Tuesday, December 29, 2019  4:25PM  2019   Houston Texans       71794
95    Tuesday, December 29, 2019  4:25PM  2019   Dallas Cowboys       90646

[96 rows x 5 columns]

In [203]:
#Add City, State to MLB, NBA, NFL data
MLB['City']='Atlanta'
MLB['State']='GA'
NBA['City']='Atlanta'
NBA['State']='GA'
NFL['City']='Atlanta'
NFL['State']='GA'
print(MLB)
print(NBA)
print(NFL)

     Day of Week Month  Day  Year  Time D/N HomeTeam  Attendance     City  \
0        Tuesday   Apr   11  2017  2:54   N      MIA       36519  Atlanta
1      Wednesday   Apr   12  2017  2:51   N      MIA       16808  Atlanta
2         Friday   Apr   14  2017  2:57   N      ATL       41149  Atlanta
3       Saturday   Apr   15  2017  2:20   N      ATL       41149  Atlanta
4         Sunday   Apr   16  2017  2:46   D      ATL       37147  Atlanta
...          ...   ...  ...   ...   ...  ..      ...         ...      ...
1091   Wednesday   Sep   11  2019  3:02   N      MIA        7815  Atlanta
1092    Thursday   Sep   12  2019  2:59   D      MIA        7375  Atlanta
1093      Friday   Sep   20  2019  3:13   N      MIA       12775  Atlanta
1094    Saturday   Sep   21  2019  4:20   N      MIA       18085  Atlanta
1095      Sunday   Sep   22  2019  3:13   D      MIA       19709  Atlanta

     State
0       GA
1       GA
2       GA
3       GA
4       GA
...    ...
1091    GA
1092    GA
1093    GA
1094    GA
1095    GA

[1096 rows x 10 columns]
    Day of Week Month  Day  Year Start (ET)          HomeTeam  Attend.  \
0           Sun   Jan    1  2017      6:00p     Atlanta Hawks    18088
1           Sun   Jan    1  2017      6:00p        Miami Heat    19844
2           Mon   Jan    2  2017      8:00p   Houston Rockets    16569
3           Tue   Jan    3  2017      8:30p  Dallas Mavericks    19318
4           Thu   Jan    5  2017      8:00p   Houston Rockets    18055
..          ...   ...  ...   ...        ...               ...      ...
513         Fri   Dec   27  2019      7:30p     Atlanta Hawks    17358
514         Fri   Dec   27  2019      8:00p        Miami Heat    19767
515         Sat   Dec   28  2019      8:00p   Houston Rockets    18306
516         Sat   Dec   28  2019      8:00p        Miami Heat    19865
517         Tue   Dec   31  2019      7:00p   Houston Rockets    18055

        City State
0    Atlanta    GA
1    Atlanta    GA
2    Atlanta    GA
3    Atlanta    GA
4    Atlanta    GA
..       ...   ...
513  Atlanta    GA
514  Atlanta    GA
515  Atlanta    GA
516  Atlanta    GA
517  Atlanta    GA

[518 rows x 9 columns]
                            Date    Time  Year         HomeTeam  Attendance  \
0   Thursday, September 10, 2017  1:00PM  2017   Houston Texans       71710
1   Thursday, September 10, 2017  8:30PM  2017   Dallas Cowboys       93183
2   Thursday, September 17, 2017  8:30PM  2017  Atlanta Falcons       70826
3      Thursday, October 1, 2017  9:30AM  2017   Miami Dolphins       84423
4      Thursday, October 1, 2017  1:00PM  2017   Houston Texans       71804
..                           ...     ...   ...              ...         ...
91    Tuesday, December 15, 2019  4:25PM  2019   Dallas Cowboys       90436
92    Tuesday, December 22, 2019  1:00PM  2019  Atlanta Falcons       70873
93    Tuesday, December 22, 2019  1:00PM  2019   Miami Dolphins       60968
94    Tuesday, December 29, 2019  4:25PM  2019   Houston Texans       71794
95    Tuesday, December 29, 2019  4:25PM  2019   Dallas Cowboys       90646

       City State
0   Atlanta    GA
1   Atlanta    GA
2   Atlanta    GA
3   Atlanta    GA
4   Atlanta    GA
..      ...   ...
91  Atlanta    GA
92  Atlanta    GA
93  Atlanta    GA
94  Atlanta    GA
95  Atlanta    GA

[96 rows x 7 columns]

In [204]:
#Replace City/State with correct value
MLB.loc[MLB['HomeTeam']=='MIA', ['City']] = 'Miami'
MLB.loc[MLB['HomeTeam']=='MIA', ['State']] = 'FL'
MLB.loc[MLB['HomeTeam']=='TEX', ['City']] = 'Dallas'
MLB.loc[MLB['HomeTeam']=='TEX', ['State']] = 'TX'
MLB.loc[MLB['HomeTeam']=='HOU', ['City']] = 'Houston'
MLB.loc[MLB['HomeTeam']=='HOU', ['State']] = 'TX'
NBA.loc[NBA['HomeTeam']=='Miami Heat', ['City']] = 'Miami'
NBA.loc[NBA['HomeTeam']=='Miami Heat', ['State']] = 'FL'
NBA.loc[NBA['HomeTeam']=='Dallas Mavericks', ['City']] = 'Dallas'
NBA.loc[NBA['HomeTeam']=='Dallas Mavericks', ['State']] = 'TX'
NBA.loc[NBA['HomeTeam']=='Houston Rockets', ['City']] = 'Houston'
NBA.loc[NBA['HomeTeam']=='Houston Rockets', ['State']] = 'TX'
NFL.loc[NFL['HomeTeam']=='Miami Dolphins', ['City']] = 'Miami'
NFL.loc[NFL['HomeTeam']=='Miami Dolphins', ['State']] = 'FL'
NFL.loc[NFL['HomeTeam']=='Dallas Cowboys', ['City']] = 'Dallas'
NFL.loc[NFL['HomeTeam']=='Dallas Cowboys', ['State']] = 'TX'
NFL.loc[NFL['HomeTeam']=='Houston Texans', ['City']] = 'Houston'
NFL.loc[NFL['HomeTeam']=='Houston Texans', ['State']] = 'TX'

In [205]:
pd.options.display.max_columns=10
pd.options.display.max_rows=10
display(MLB)
display(NBA)
display(NFL)

,Day of Week,Month,Day,Year,Time,D/N,HomeTeam,Attendance,City,State
0,Tuesday,Apr,11,2017,2:54,N,MIA,36519,Miami,FL
1,Wednesday,Apr,12,2017,2:51,N,MIA,16808,Miami,FL
2,Friday,Apr,14,2017,2:57,N,ATL,41149,Atlanta,GA
3,Saturday,Apr,15,2017,2:20,N,ATL,41149,Atlanta,GA
4,Sunday,Apr,16,2017,2:46,D,ATL,37147,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...
1091,Wednesday,Sep,11,2019,3:02,N,MIA,7815,Miami,FL
1092,Thursday,Sep,12,2019,2:59,D,MIA,7375,Miami,FL
1093,Friday,Sep,20,2019,3:13,N,MIA,12775,Miami,FL
1094,Saturday,Sep,21,2019,4:20,N,MIA,18085,Miami,FL
1095,Sunday,Sep,22,2019,3:13,D,MIA,19709,Miami,FL

,Day of Week,Month,Day,Year,Start (ET),HomeTeam,Attend.,City,State
0,Sun,Jan,1,2017,6:00p,Atlanta Hawks,18088,Atlanta,GA
1,Sun,Jan,1,2017,6:00p,Miami Heat,19844,Miami,FL
2,Mon,Jan,2,2017,8:00p,Houston Rockets,16569,Houston,TX
3,Tue,Jan,3,2017,8:30p,Dallas Mavericks,19318,Dallas,TX
4,Thu,Jan,5,2017,8:00p,Houston Rockets,18055,Houston,TX
...,...,...,...,...,...,...,...,...,...
513,Fri,Dec,27,2019,7:30p,Atlanta Hawks,17358,Atlanta,GA
514,Fri,Dec,27,2019,8:00p,Miami Heat,19767,Miami,FL
515,Sat,Dec,28,2019,8:00p,Houston Rockets,18306,Houston,TX
516,Sat,Dec,28,2019,8:00p,Miami Heat,19865,Miami,FL
517,Tue,Dec,31,2019,7:00p,Houston Rockets,18055,Houston,TX

,Date,Time,Year,HomeTeam,Attendance,City,State
0,"Thursday, September 10, 2017",1:00PM,2017,Houston Texans,71710,Houston,TX
1,"Thursday, September 10, 2017",8:30PM,2017,Dallas Cowboys,93183,Dallas,TX
2,"Thursday, September 17, 2017",8:30PM,2017,Atlanta Falcons,70826,Atlanta,GA
3,"Thursday, October 1, 2017",9:30AM,2017,Miami Dolphins,84423,Miami,FL
4,"Thursday, October 1, 2017",1:00PM,2017,Houston Texans,71804,Houston,TX
...,...,...,...,...,...,...,...
91,"Tuesday, December 15, 2019",4:25PM,2019,Dallas Cowboys,90436,Dallas,TX
92,"Tuesday, December 22, 2019",1:00PM,2019,Atlanta Falcons,70873,Atlanta,GA
93,"Tuesday, December 22, 2019",1:00PM,2019,Miami Dolphins,60968,Miami,FL
94,"Tuesday, December 29, 2019",4:25PM,2019,Houston Texans,71794,Houston,TX
95,"Tuesday, December 29, 2019",4:25PM,2019,Dallas Cowboys,90646,Dallas,TX

In [206]:
#Convert HomeTeam to Sporting Event Type, rename other columns if needed
MLB.rename(columns={"HomeTeam":"MLBGame", "Attendance":"MLB_Attendance"},inplace=True)
NBA.rename(columns={"HomeTeam":"NBAGame","Attend.":"NBA_Attendance", "Start (ET)":"Time"},inplace=True)
NFL.rename(columns={"HomeTeam":"NFLGame","Attendance":"NFL_Attendance"},inplace=True)

In [207]:
#Set Sporting Event Type binary value
MLB['MLBGame']=1
NBA['NBAGame']=1
NFL['NFLGame']=1

In [208]:
display(MLB)
display(NBA)
display(NFL)

,Day of Week,Month,Day,Year,Time,D/N,MLBGame,MLB_Attendance,City,State
0,Tuesday,Apr,11,2017,2:54,N,1,36519,Miami,FL
1,Wednesday,Apr,12,2017,2:51,N,1,16808,Miami,FL
2,Friday,Apr,14,2017,2:57,N,1,41149,Atlanta,GA
3,Saturday,Apr,15,2017,2:20,N,1,41149,Atlanta,GA
4,Sunday,Apr,16,2017,2:46,D,1,37147,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...
1091,Wednesday,Sep,11,2019,3:02,N,1,7815,Miami,FL
1092,Thursday,Sep,12,2019,2:59,D,1,7375,Miami,FL
1093,Friday,Sep,20,2019,3:13,N,1,12775,Miami,FL
1094,Saturday,Sep,21,2019,4:20,N,1,18085,Miami,FL
1095,Sunday,Sep,22,2019,3:13,D,1,19709,Miami,FL

,Day of Week,Month,Day,Year,Time,NBAGame,NBA_Attendance,City,State
0,Sun,Jan,1,2017,6:00p,1,18088,Atlanta,GA
1,Sun,Jan,1,2017,6:00p,1,19844,Miami,FL
2,Mon,Jan,2,2017,8:00p,1,16569,Houston,TX
3,Tue,Jan,3,2017,8:30p,1,19318,Dallas,TX
4,Thu,Jan,5,2017,8:00p,1,18055,Houston,TX
...,...,...,...,...,...,...,...,...,...
513,Fri,Dec,27,2019,7:30p,1,17358,Atlanta,GA
514,Fri,Dec,27,2019,8:00p,1,19767,Miami,FL
515,Sat,Dec,28,2019,8:00p,1,18306,Houston,TX
516,Sat,Dec,28,2019,8:00p,1,19865,Miami,FL
517,Tue,Dec,31,2019,7:00p,1,18055,Houston,TX

,Date,Time,Year,NFLGame,NFL_Attendance,City,State
0,"Thursday, September 10, 2017",1:00PM,2017,1,71710,Houston,TX
1,"Thursday, September 10, 2017",8:30PM,2017,1,93183,Dallas,TX
2,"Thursday, September 17, 2017",8:30PM,2017,1,70826,Atlanta,GA
3,"Thursday, October 1, 2017",9:30AM,2017,1,84423,Miami,FL
4,"Thursday, October 1, 2017",1:00PM,2017,1,71804,Houston,TX
...,...,...,...,...,...,...,...
91,"Tuesday, December 15, 2019",4:25PM,2019,1,90436,Dallas,TX
92,"Tuesday, December 22, 2019",1:00PM,2019,1,70873,Atlanta,GA
93,"Tuesday, December 22, 2019",1:00PM,2019,1,60968,Miami,FL
94,"Tuesday, December 29, 2019",4:25PM,2019,1,71794,Houston,TX
95,"Tuesday, December 29, 2019",4:25PM,2019,1,90646,Dallas,TX

In [209]:
#Format MLB Dates
MonthMap={'Jan':'01','Feb':'02', 'Mar':'03','Apr':'04','May':'05'
         ,'Jun':'06','Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'}
MLB['Month']=MLB['Month'].apply(lambda x: MonthMap[x])
MLB['Date']=pd.to_datetime((MLB['Month'].astype(str)+' '+MLB['Day'].astype(str)+' '+MLB['Year'].astype(str)), format='%m %d %Y')
MLB['Day of Week']=MLB['Date'].dt.day_name()
#Drop Unneeded MLB Date columns
MLB=MLB.drop(columns=['Month','Day','Year','D/N','Time'])
display(MLB)

     Day of Week  MLBGame  MLB_Attendance     City State       Date
0        Tuesday        1           36519    Miami    FL 2017-04-11
1      Wednesday        1           16808    Miami    FL 2017-04-12
2         Friday        1           41149  Atlanta    GA 2017-04-14
3       Saturday        1           41149  Atlanta    GA 2017-04-15
4         Sunday        1           37147  Atlanta    GA 2017-04-16
...          ...      ...             ...      ...   ...        ...
1091   Wednesday        1            7815    Miami    FL 2019-09-11
1092    Thursday        1            7375    Miami    FL 2019-09-12
1093      Friday        1           12775    Miami    FL 2019-09-20
1094    Saturday        1           18085    Miami    FL 2019-09-21
1095      Sunday        1           19709    Miami    FL 2019-09-22

[1096 rows x 6 columns]

In [210]:
#Format NBA Dates
NBA['Month']=NBA['Month'].apply(lambda x: MonthMap[x])
NBA['Date']=pd.to_datetime((NBA['Month'].astype(str)+' '+NBA['Day'].astype(str)+' '+NBA['Year'].astype(str)), format='%m %d %Y')
NBA['Day of Week']=NBA['Date'].dt.day_name()
#Drop Unneeded NBA Date columns
NBA=NBA.drop(columns=['Month','Day','Year','Time'])
display(NBA)

    Day of Week  NBAGame  NBA_Attendance     City State       Date
0        Sunday        1           18088  Atlanta    GA 2017-01-01
1        Sunday        1           19844    Miami    FL 2017-01-01
2        Monday        1           16569  Houston    TX 2017-01-02
3       Tuesday        1           19318   Dallas    TX 2017-01-03
4      Thursday        1           18055  Houston    TX 2017-01-05
..          ...      ...             ...      ...   ...        ...
513      Friday        1           17358  Atlanta    GA 2019-12-27
514      Friday        1           19767    Miami    FL 2019-12-27
515    Saturday        1           18306  Houston    TX 2019-12-28
516    Saturday        1           19865    Miami    FL 2019-12-28
517     Tuesday        1           18055  Houston    TX 2019-12-31

[518 rows x 6 columns]

In [211]:
#Format NFL Dates
NFL['Date']=pd.to_datetime(NFL['Date'],format='%A, %B %d, %Y')
NFL['Day of Week']=NFL['Date'].dt.day_name()
#Drop Unneeded NFL Date columns
NFL=NFL.drop(columns=['Year','Time'])
display(NFL)

         Date  NFLGame  NFL_Attendance     City State Day of Week
0  2017-09-10        1           71710  Houston    TX      Sunday
1  2017-09-10        1           93183   Dallas    TX      Sunday
2  2017-09-17        1           70826  Atlanta    GA      Sunday
3  2017-10-01        1           84423    Miami    FL      Sunday
4  2017-10-01        1           71804  Houston    TX      Sunday
..        ...      ...             ...      ...   ...         ...
91 2019-12-15        1           90436   Dallas    TX      Sunday
92 2019-12-22        1           70873  Atlanta    GA      Sunday
93 2019-12-22        1           60968    Miami    FL      Sunday
94 2019-12-29        1           71794  Houston    TX      Sunday
95 2019-12-29        1           90646   Dallas    TX      Sunday

[96 rows x 6 columns]

In [222]:
#Join Sports Data sets
MLB['JoinID']=MLB['Date'].astype(str)+MLB['City'].astype(str)+MLB['State'].astype(str)
NBA['JoinID']=NBA['Date'].astype(str)+NBA['City'].astype(str)+NBA['State'].astype(str)
NFL['JoinID']=NFL['Date'].astype(str)+NFL['City'].astype(str)+NFL['State'].astype(str)
Sports=pd.DataFrame(pd.concat([MLB,NBA,NFL], axis=0, join='outer', ignore_index=False, keys='JoinID',
          levels=None, names=None, verify_integrity=False, copy=True, sort=True))

In [223]:
pd.options.display.max_columns=100
pd.options.display.max_rows=30
display(Sports)

         City       Date Day of Week               JoinID  MLBGame  \
J 0     Miami 2017-04-11     Tuesday    2017-04-11MiamiFL      1.0
  1     Miami 2017-04-12   Wednesday    2017-04-12MiamiFL      1.0
  2   Atlanta 2017-04-14      Friday  2017-04-14AtlantaGA      1.0
  3   Atlanta 2017-04-15    Saturday  2017-04-15AtlantaGA      1.0
  4   Atlanta 2017-04-16      Sunday  2017-04-16AtlantaGA      1.0
...       ...        ...         ...                  ...      ...
i 91   Dallas 2019-12-15      Sunday   2019-12-15DallasTX      NaN
  92  Atlanta 2019-12-22      Sunday  2019-12-22AtlantaGA      NaN
  93    Miami 2019-12-22      Sunday    2019-12-22MiamiFL      NaN
  94  Houston 2019-12-29      Sunday  2019-12-29HoustonTX      NaN
  95   Dallas 2019-12-29      Sunday   2019-12-29DallasTX      NaN

      MLB_Attendance  NBAGame  NBA_Attendance  NFLGame  NFL_Attendance State
J 0          36519.0      NaN             NaN      NaN             NaN    FL
  1          16808.0      NaN             NaN      NaN             NaN    FL
  2          41149.0      NaN             NaN      NaN             NaN    GA
  3          41149.0      NaN             NaN      NaN             NaN    GA
  4          37147.0      NaN             NaN      NaN             NaN    GA
...              ...      ...             ...      ...             ...   ...
i 91             NaN      NaN             NaN      1.0         90436.0    TX
  92             NaN      NaN             NaN      1.0         70873.0    GA
  93             NaN      NaN             NaN      1.0         60968.0    FL
  94             NaN      NaN             NaN      1.0         71794.0    TX
  95             NaN      NaN             NaN      1.0         90646.0    TX

[1710 rows x 11 columns]

In [226]:
#Replace NAs with zeroes
Sports.fillna(0,inplace=True)
display(Sports)

         City       Date Day of Week               JoinID  MLBGame  \
J 0     Miami 2017-04-11     Tuesday    2017-04-11MiamiFL      1.0
  1     Miami 2017-04-12   Wednesday    2017-04-12MiamiFL      1.0
  2   Atlanta 2017-04-14      Friday  2017-04-14AtlantaGA      1.0
  3   Atlanta 2017-04-15    Saturday  2017-04-15AtlantaGA      1.0
  4   Atlanta 2017-04-16      Sunday  2017-04-16AtlantaGA      1.0
...       ...        ...         ...                  ...      ...
i 91   Dallas 2019-12-15      Sunday   2019-12-15DallasTX      0.0
  92  Atlanta 2019-12-22      Sunday  2019-12-22AtlantaGA      0.0
  93    Miami 2019-12-22      Sunday    2019-12-22MiamiFL      0.0
  94  Houston 2019-12-29      Sunday  2019-12-29HoustonTX      0.0
  95   Dallas 2019-12-29      Sunday   2019-12-29DallasTX      0.0

      MLB_Attendance  NBAGame  NBA_Attendance  NFLGame  NFL_Attendance State
J 0          36519.0      0.0             0.0      0.0             0.0    FL
  1          16808.0      0.0             0.0      0.0             0.0    FL
  2          41149.0      0.0             0.0      0.0             0.0    GA
  3          41149.0      0.0             0.0      0.0             0.0    GA
  4          37147.0      0.0             0.0      0.0             0.0    GA
...              ...      ...             ...      ...             ...   ...
i 91             0.0      0.0             0.0      1.0         90436.0    TX
  92             0.0      0.0             0.0      1.0         70873.0    GA
  93             0.0      0.0             0.0      1.0         60968.0    FL
  94             0.0      0.0             0.0      1.0         71794.0    TX
  95             0.0      0.0             0.0      1.0         90646.0    TX

[1710 rows x 11 columns]

In [227]:
#Convert Data Types
Sports['MLBGame']=Sports['MLBGame'].astype(int)
Sports['NBAGame']=Sports['NBAGame'].astype(int)
Sports['NFLGame']=Sports['NFLGame'].astype(int)
Sports['MLB_Attendance']=Sports['MLB_Attendance'].astype(int)
Sports['NBA_Attendance']=Sports['NBA_Attendance'].astype(int)
Sports['NFL_Attendance']=Sports['NFL_Attendance'].astype(int)
display(Sports.dtypes)

City                      object
Date              datetime64[ns]
Day of Week               object
JoinID                    object
MLBGame                    int32
MLB_Attendance             int32
NBAGame                    int32
NBA_Attendance             int32
NFLGame                    int32
NFL_Attendance             int32
State                     object
dtype: object

In [228]:
display(Sports)

         City       Date Day of Week               JoinID  MLBGame  \
J 0     Miami 2017-04-11     Tuesday    2017-04-11MiamiFL        1
  1     Miami 2017-04-12   Wednesday    2017-04-12MiamiFL        1
  2   Atlanta 2017-04-14      Friday  2017-04-14AtlantaGA        1
  3   Atlanta 2017-04-15    Saturday  2017-04-15AtlantaGA        1
  4   Atlanta 2017-04-16      Sunday  2017-04-16AtlantaGA        1
...       ...        ...         ...                  ...      ...
i 91   Dallas 2019-12-15      Sunday   2019-12-15DallasTX        0
  92  Atlanta 2019-12-22      Sunday  2019-12-22AtlantaGA        0
  93    Miami 2019-12-22      Sunday    2019-12-22MiamiFL        0
  94  Houston 2019-12-29      Sunday  2019-12-29HoustonTX        0
  95   Dallas 2019-12-29      Sunday   2019-12-29DallasTX        0

      MLB_Attendance  NBAGame  NBA_Attendance  NFLGame  NFL_Attendance State
J 0            36519        0               0        0               0    FL
  1            16808        0               0        0               0    FL
  2            41149        0               0        0               0    GA
  3            41149        0               0        0               0    GA
  4            37147        0               0        0               0    GA
...              ...      ...             ...      ...             ...   ...
i 91               0        0               0        1           90436    TX
  92               0        0               0        1           70873    GA
  93               0        0               0        1           60968    FL
  94               0        0               0        1           71794    TX
  95               0        0               0        1           90646    TX

[1710 rows x 11 columns]