In [89]:
import pandas as pd
import numpy as np

In [90]:
#Bring in Sports Data
mlbURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/MLB.csv"
nbaURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/NBA.csv"
nflURL="https://raw.githubusercontent.com/holden-herrell/IST718_GROUP_PROJECT/master/DATASETS/COMBINED%20DATA/NFL.csv"
MLBraw=pd.read_csv(mlbURL, engine='python', error_bad_lines=False)
MLB=pd.DataFrame(MLBraw)
NBAraw=pd.read_csv(nbaURL, engine='python', error_bad_lines=False)
NBA=pd.DataFrame(NBAraw)
NFLraw=pd.read_csv(nflURL, engine='python', error_bad_lines=False)
NFL=pd.DataFrame(NFLraw)
print(MLB)
print(NBA)
print(NFL)

     Day of Week Month  Day  Year  Time D/N HomeTeam  Attendance
0        Tuesday   Apr   11  2017  2:54   N      MIA       36519
1      Wednesday   Apr   12  2017  2:51   N      MIA       16808
2         Friday   Apr   14  2017  2:57   N      ATL       41149
3       Saturday   Apr   15  2017  2:20   N      ATL       41149
4         Sunday   Apr   16  2017  2:46   D      ATL       37147
...          ...   ...  ...   ...   ...  ..      ...         ...
1091   Wednesday   Sep   11  2019  3:02   N      MIA        7815
1092    Thursday   Sep   12  2019  2:59   D      MIA        7375
1093      Friday   Sep   20  2019  3:13   N      MIA       12775
1094    Saturday   Sep   21  2019  4:20   N      MIA       18085
1095      Sunday   Sep   22  2019  3:13   D      MIA       19709

[1096 rows x 8 columns]
    Day of Week Month  Day  Year Start (ET)          HomeTeam  Attend.
0           Sun   Jan    1  2017      6:00p     Atlanta Hawks    18088
1           Sun   Jan    1  2017      6:00p        Miami Heat    19844
2           Mon   Jan    2  2017      8:00p   Houston Rockets    16569
3           Tue   Jan    3  2017      8:30p  Dallas Mavericks    19318
4           Thu   Jan    5  2017      8:00p   Houston Rockets    18055
..          ...   ...  ...   ...        ...               ...      ...
513         Fri   Dec   27  2019      7:30p     Atlanta Hawks    17358
514         Fri   Dec   27  2019      8:00p        Miami Heat    19767
515         Sat   Dec   28  2019      8:00p   Houston Rockets    18306
516         Sat   Dec   28  2019      8:00p        Miami Heat    19865
517         Tue   Dec   31  2019      7:00p   Houston Rockets    18055

[518 rows x 7 columns]
                            Date    Time  Year         HomeTeam
0   Thursday, September 10, 2020  1:00PM  2017   Houston Texans
1   Thursday, September 10, 2020  8:30PM  2017   Dallas Cowboys
2   Thursday, September 17, 2020  8:30PM  2017  Atlanta Falcons
3      Thursday, October 1, 2020  9:30AM  2017   Miami Dolphins
4      Thursday, October 1, 2020  1:00PM  2017   Houston Texans
..                           ...     ...   ...              ...
94    Tuesday, December 22, 2020  1:00PM  2019  Atlanta Falcons
95    Tuesday, December 22, 2020  1:00PM  2019   Miami Dolphins
96    Tuesday, December 29, 2020  4:25PM  2019   Houston Texans
97    Tuesday, December 29, 2020  4:25PM  2019   Dallas Cowboys
98     Saturday, January 4, 2020  4:35PM  2020   Houston Texans

[99 rows x 4 columns]

In [91]:
#Add City, State to MLB, NBA, NFL data
MLB['City']='Atlanta'
MLB['State']='GA'
NBA['City']='Atlanta'
NBA['State']='GA'
NFL['City']='Atlanta'
NFL['State']='GA'
print(MLB)
print(NBA)
print(NFL)

     Day of Week Month  Day  Year  Time D/N HomeTeam  Attendance     City  \
0        Tuesday   Apr   11  2017  2:54   N      MIA       36519  Atlanta
1      Wednesday   Apr   12  2017  2:51   N      MIA       16808  Atlanta
2         Friday   Apr   14  2017  2:57   N      ATL       41149  Atlanta
3       Saturday   Apr   15  2017  2:20   N      ATL       41149  Atlanta
4         Sunday   Apr   16  2017  2:46   D      ATL       37147  Atlanta
...          ...   ...  ...   ...   ...  ..      ...         ...      ...
1091   Wednesday   Sep   11  2019  3:02   N      MIA        7815  Atlanta
1092    Thursday   Sep   12  2019  2:59   D      MIA        7375  Atlanta
1093      Friday   Sep   20  2019  3:13   N      MIA       12775  Atlanta
1094    Saturday   Sep   21  2019  4:20   N      MIA       18085  Atlanta
1095      Sunday   Sep   22  2019  3:13   D      MIA       19709  Atlanta

     State
0       GA
1       GA
2       GA
3       GA
4       GA
...    ...
1091    GA
1092    GA
1093    GA
1094    GA
1095    GA

[1096 rows x 10 columns]
    Day of Week Month  Day  Year Start (ET)          HomeTeam  Attend.  \
0           Sun   Jan    1  2017      6:00p     Atlanta Hawks    18088
1           Sun   Jan    1  2017      6:00p        Miami Heat    19844
2           Mon   Jan    2  2017      8:00p   Houston Rockets    16569
3           Tue   Jan    3  2017      8:30p  Dallas Mavericks    19318
4           Thu   Jan    5  2017      8:00p   Houston Rockets    18055
..          ...   ...  ...   ...        ...               ...      ...
513         Fri   Dec   27  2019      7:30p     Atlanta Hawks    17358
514         Fri   Dec   27  2019      8:00p        Miami Heat    19767
515         Sat   Dec   28  2019      8:00p   Houston Rockets    18306
516         Sat   Dec   28  2019      8:00p        Miami Heat    19865
517         Tue   Dec   31  2019      7:00p   Houston Rockets    18055

        City State
0    Atlanta    GA
1    Atlanta    GA
2    Atlanta    GA
3    Atlanta    GA
4    Atlanta    GA
..       ...   ...
513  Atlanta    GA
514  Atlanta    GA
515  Atlanta    GA
516  Atlanta    GA
517  Atlanta    GA

[518 rows x 9 columns]
                            Date    Time  Year         HomeTeam     City State
0   Thursday, September 10, 2020  1:00PM  2017   Houston Texans  Atlanta    GA
1   Thursday, September 10, 2020  8:30PM  2017   Dallas Cowboys  Atlanta    GA
2   Thursday, September 17, 2020  8:30PM  2017  Atlanta Falcons  Atlanta    GA
3      Thursday, October 1, 2020  9:30AM  2017   Miami Dolphins  Atlanta    GA
4      Thursday, October 1, 2020  1:00PM  2017   Houston Texans  Atlanta    GA
..                           ...     ...   ...              ...      ...   ...
94    Tuesday, December 22, 2020  1:00PM  2019  Atlanta Falcons  Atlanta    GA
95    Tuesday, December 22, 2020  1:00PM  2019   Miami Dolphins  Atlanta    GA
96    Tuesday, December 29, 2020  4:25PM  2019   Houston Texans  Atlanta    GA
97    Tuesday, December 29, 2020  4:25PM  2019   Dallas Cowboys  Atlanta    GA
98     Saturday, January 4, 2020  4:35PM  2020   Houston Texans  Atlanta    GA

[99 rows x 6 columns]

In [92]:
#Replace City/State with correct value
MLB.loc[MLB['HomeTeam']=='MIA', ['City']] = 'Miami'
MLB.loc[MLB['HomeTeam']=='MIA', ['State']] = 'FL'
MLB.loc[MLB['HomeTeam']=='TEX', ['City']] = 'Dallas'
MLB.loc[MLB['HomeTeam']=='TEX', ['State']] = 'TX'
MLB.loc[MLB['HomeTeam']=='HOU', ['City']] = 'Houston'
MLB.loc[MLB['HomeTeam']=='HOU', ['State']] = 'TX'
NBA.loc[NBA['HomeTeam']=='Miami Heat', ['City']] = 'Miami'
NBA.loc[NBA['HomeTeam']=='Miami Heat', ['State']] = 'FL'
NBA.loc[NBA['HomeTeam']=='Dallas Mavericks', ['City']] = 'Dallas'
NBA.loc[NBA['HomeTeam']=='Dallas Mavericks', ['State']] = 'TX'
NBA.loc[NBA['HomeTeam']=='Houston Rockets', ['City']] = 'Houston'
NBA.loc[NBA['HomeTeam']=='Houston Rockets', ['State']] = 'TX'
NFL.loc[NFL['HomeTeam']=='Miami Dolphins', ['City']] = 'Miami'
NFL.loc[NFL['HomeTeam']=='Miami Dolphins', ['State']] = 'FL'
NFL.loc[NFL['HomeTeam']=='Dallas Cowboys', ['City']] = 'Dallas'
NFL.loc[NFL['HomeTeam']=='Dallas Cowboys', ['State']] = 'TX'
NFL.loc[NFL['HomeTeam']=='Houston Texans', ['City']] = 'Houston'
NFL.loc[NFL['HomeTeam']=='Houston Texans', ['State']] = 'TX'

In [93]:
pd.options.display.max_columns=10
pd.options.display.max_rows=10
display(MLB)
display(NBA)
display(NFL)

,Day of Week,Month,Day,Year,Time,D/N,HomeTeam,Attendance,City,State
0,Tuesday,Apr,11,2017,2:54,N,MIA,36519,Miami,FL
1,Wednesday,Apr,12,2017,2:51,N,MIA,16808,Miami,FL
2,Friday,Apr,14,2017,2:57,N,ATL,41149,Atlanta,GA
3,Saturday,Apr,15,2017,2:20,N,ATL,41149,Atlanta,GA
4,Sunday,Apr,16,2017,2:46,D,ATL,37147,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...
1091,Wednesday,Sep,11,2019,3:02,N,MIA,7815,Miami,FL
1092,Thursday,Sep,12,2019,2:59,D,MIA,7375,Miami,FL
1093,Friday,Sep,20,2019,3:13,N,MIA,12775,Miami,FL
1094,Saturday,Sep,21,2019,4:20,N,MIA,18085,Miami,FL
1095,Sunday,Sep,22,2019,3:13,D,MIA,19709,Miami,FL

,Day of Week,Month,Day,Year,Start (ET),HomeTeam,Attend.,City,State
0,Sun,Jan,1,2017,6:00p,Atlanta Hawks,18088,Atlanta,GA
1,Sun,Jan,1,2017,6:00p,Miami Heat,19844,Miami,FL
2,Mon,Jan,2,2017,8:00p,Houston Rockets,16569,Houston,TX
3,Tue,Jan,3,2017,8:30p,Dallas Mavericks,19318,Dallas,TX
4,Thu,Jan,5,2017,8:00p,Houston Rockets,18055,Houston,TX
...,...,...,...,...,...,...,...,...,...
513,Fri,Dec,27,2019,7:30p,Atlanta Hawks,17358,Atlanta,GA
514,Fri,Dec,27,2019,8:00p,Miami Heat,19767,Miami,FL
515,Sat,Dec,28,2019,8:00p,Houston Rockets,18306,Houston,TX
516,Sat,Dec,28,2019,8:00p,Miami Heat,19865,Miami,FL
517,Tue,Dec,31,2019,7:00p,Houston Rockets,18055,Houston,TX

                            Date    Time  Year         HomeTeam     City State
0   Thursday, September 10, 2020  1:00PM  2017   Houston Texans  Houston    TX
1   Thursday, September 10, 2020  8:30PM  2017   Dallas Cowboys   Dallas    TX
2   Thursday, September 17, 2020  8:30PM  2017  Atlanta Falcons  Atlanta    GA
3      Thursday, October 1, 2020  9:30AM  2017   Miami Dolphins    Miami    FL
4      Thursday, October 1, 2020  1:00PM  2017   Houston Texans  Houston    TX
..                           ...     ...   ...              ...      ...   ...
94    Tuesday, December 22, 2020  1:00PM  2019  Atlanta Falcons  Atlanta    GA
95    Tuesday, December 22, 2020  1:00PM  2019   Miami Dolphins    Miami    FL
96    Tuesday, December 29, 2020  4:25PM  2019   Houston Texans  Houston    TX
97    Tuesday, December 29, 2020  4:25PM  2019   Dallas Cowboys   Dallas    TX
98     Saturday, January 4, 2020  4:35PM  2020   Houston Texans  Houston    TX

[99 rows x 6 columns]

In [94]:
#Convert HomeTeam to Sporting Event Type, rename other columns if needed
MLB.rename(columns={"HomeTeam":"SportingEventType"},inplace=True)
NBA.rename(columns={"HomeTeam":"SportingEventType","Attend.":"Attendance", "Start (ET)":"Time"},inplace=True)
NFL.rename(columns={"HomeTeam":"SportingEventType"},inplace=True)

In [95]:
#Set Sporting Event Type
MLB['SportingEventType']='MLB'
NBA['SportingEventType']='NBA'
NFL['SportingEventType']='NFL'

In [96]:
display(MLB)
display(NBA)
display(NFL)

,Day of Week,Month,Day,Year,Time,D/N,SportingEventType,Attendance,City,State
0,Tuesday,Apr,11,2017,2:54,N,MLB,36519,Miami,FL
1,Wednesday,Apr,12,2017,2:51,N,MLB,16808,Miami,FL
2,Friday,Apr,14,2017,2:57,N,MLB,41149,Atlanta,GA
3,Saturday,Apr,15,2017,2:20,N,MLB,41149,Atlanta,GA
4,Sunday,Apr,16,2017,2:46,D,MLB,37147,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...
1091,Wednesday,Sep,11,2019,3:02,N,MLB,7815,Miami,FL
1092,Thursday,Sep,12,2019,2:59,D,MLB,7375,Miami,FL
1093,Friday,Sep,20,2019,3:13,N,MLB,12775,Miami,FL
1094,Saturday,Sep,21,2019,4:20,N,MLB,18085,Miami,FL
1095,Sunday,Sep,22,2019,3:13,D,MLB,19709,Miami,FL

,Day of Week,Month,Day,Year,Time,SportingEventType,Attendance,City,State
0,Sun,Jan,1,2017,6:00p,NBA,18088,Atlanta,GA
1,Sun,Jan,1,2017,6:00p,NBA,19844,Miami,FL
2,Mon,Jan,2,2017,8:00p,NBA,16569,Houston,TX
3,Tue,Jan,3,2017,8:30p,NBA,19318,Dallas,TX
4,Thu,Jan,5,2017,8:00p,NBA,18055,Houston,TX
...,...,...,...,...,...,...,...,...,...
513,Fri,Dec,27,2019,7:30p,NBA,17358,Atlanta,GA
514,Fri,Dec,27,2019,8:00p,NBA,19767,Miami,FL
515,Sat,Dec,28,2019,8:00p,NBA,18306,Houston,TX
516,Sat,Dec,28,2019,8:00p,NBA,19865,Miami,FL
517,Tue,Dec,31,2019,7:00p,NBA,18055,Houston,TX

,Date,Time,Year,SportingEventType,City,State
0,"Thursday, September 10, 2020",1:00PM,2017,NFL,Houston,TX
1,"Thursday, September 10, 2020",8:30PM,2017,NFL,Dallas,TX
2,"Thursday, September 17, 2020",8:30PM,2017,NFL,Atlanta,GA
3,"Thursday, October 1, 2020",9:30AM,2017,NFL,Miami,FL
4,"Thursday, October 1, 2020",1:00PM,2017,NFL,Houston,TX
...,...,...,...,...,...,...
94,"Tuesday, December 22, 2020",1:00PM,2019,NFL,Atlanta,GA
95,"Tuesday, December 22, 2020",1:00PM,2019,NFL,Miami,FL
96,"Tuesday, December 29, 2020",4:25PM,2019,NFL,Houston,TX
97,"Tuesday, December 29, 2020",4:25PM,2019,NFL,Dallas,TX
98,"Saturday, January 4, 2020",4:35PM,2020,NFL,Houston,TX

In [102]:
#Format MLB Dates
MonthMap={'Jan':'01','Feb':'02', 'Mar':'03','Apr':'04','May':'05'
          ,'Jun':'06','Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'}
MLB['Month']=MLB['Month'].apply(lambda x: MonthMap[x])
display(MLB)

,Day of Week,Month,Day,Year,Time,D/N,SportingEventType,Attendance,City,State
0,Tuesday,04,11,2017,2:54,N,MLB,36519,Miami,FL
1,Wednesday,04,12,2017,2:51,N,MLB,16808,Miami,FL
2,Friday,04,14,2017,2:57,N,MLB,41149,Atlanta,GA
3,Saturday,04,15,2017,2:20,N,MLB,41149,Atlanta,GA
4,Sunday,04,16,2017,2:46,D,MLB,37147,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...
1091,Wednesday,09,11,2019,3:02,N,MLB,7815,Miami,FL
1092,Thursday,09,12,2019,2:59,D,MLB,7375,Miami,FL
1093,Friday,09,20,2019,3:13,N,MLB,12775,Miami,FL
1094,Saturday,09,21,2019,4:20,N,MLB,18085,Miami,FL
1095,Sunday,09,22,2019,3:13,D,MLB,19709,Miami,FL

In [103]:
#Format NBA Dates
NBA['Month']=NBA['Month'].apply(lambda x: MonthMap[x])
display(NBA)

,Day of Week,Month,Day,Year,Time,SportingEventType,Attendance,City,State
0,Sun,01,1,2017,6:00p,NBA,18088,Atlanta,GA
1,Sun,01,1,2017,6:00p,NBA,19844,Miami,FL
2,Mon,01,2,2017,8:00p,NBA,16569,Houston,TX
3,Tue,01,3,2017,8:30p,NBA,19318,Dallas,TX
4,Thu,01,5,2017,8:00p,NBA,18055,Houston,TX
...,...,...,...,...,...,...,...,...,...
513,Fri,12,27,2019,7:30p,NBA,17358,Atlanta,GA
514,Fri,12,27,2019,8:00p,NBA,19767,Miami,FL
515,Sat,12,28,2019,8:00p,NBA,18306,Houston,TX
516,Sat,12,28,2019,8:00p,NBA,19865,Miami,FL
517,Tue,12,31,2019,7:00p,NBA,18055,Houston,TX